<div class="main mx-6 mt-11 text-white">
  <div class="wrapper">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/borrow.svg" class="w-full h-full" alt="#">
      </div>
      <div class="text-3xl leading-9 font-bold mr-4">Borrow</div>
    </div>
    <div class="btn ml-auto" data-modal="modal-open-new-credit">
      Open New Credit
    </div>
  </div>
  <div class="main-row">
    <div class="text-lg leading-6 font-medium mr-auto">
      My credits
    </div>
    <div class="address-info">
      Connected address:
      <span class="current-wallet">
        0x6cea79e4d4dea3461b4d8452c911db1aa90f9b58
      </span>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="w-full flex xl:flex-row flex-col filled">
    <div class="xl:w-5/6 xl:mr-3 w-full xl:mb-0 mb-4">
      <div class="flex flex-col">
        <div class="overflow-x-auto">
          <div class="align-middle inline-block min-w-full">
            <div class="overflow-hidden">

              <div id="my_credits"></div>

              <table class="min-w-full">
                <thead class="">
                  <tr>
                    <th scope="col" class="table-title">
                      Assets
                    </th>
                    <th scope="col" class="table-title">
                      Borrowed amount
                    </th>
                    <th scope="col" class="table-title">
                      USD Value
                    </th>
                    <th scope="col" class="table-title">
                      Collateral
                    </th>
                    <th scope="col" class="table-title">
                      Duration days
                    </th>
                    <th scope="col" class="table-title">
                      Curent APR*
                    </th>
                    <th scope="col" class="table-title">
                      Fee
                    </th>
                    <th scope="col" class="table-title">
                      Leverage level
                    </th>
                    <th scope="col" class="table-title">
                      Cover Fees with CYTR Leverage
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row">
                    <td class="table-cell rounded-l-lg">
                      <div class="flex items-center">
                        <span class="crypto-icon">
                          <img src="../images/crypto-icons/icon-st1.svg" class="w-full h-full" alt="#">
                        </span>
                        ST1
                      </div>
                    </td>
                    <td class="table-cell">
                      12.6677
                    </td>
                    <td class="table-cell">
                      37
                    </td>
                    <td class="table-cell">
                      bnb: 0.099...
                    </td>
                    <td class="table-cell">
                      293
                    </td>
                    <td class="table-cell">
                      F: 0%
                    </td>
                    <td class="table-cell">
                      -
                    </td>
                    <td class="table-cell">
                      <span class="value">7.1543</span>
                      <span class="percent">100%</span>
                    </td>
                    <td class="table-cell py-2 rounded-r-lg">
                      <div class="flex items-center">
                        <span class="table-btn mr-3">
                          <i class="icon-cell">
                            <img src="../images/discount.svg" class="w-full h-full" alt="#">
                          </i>
                          Unfreeze
                        </span>
                        <span class="table-btn" data-modal="modal-repay-borrow">
                          <i class="icon-cell">
                            <img src="../images/money.svg" class="w-full h-full" alt="#">
                          </i>
                          Repay borrow
                        </span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row">
                    <td class="table-cell rounded-l-lg">
                      <div class="flex items-center">
                        <span class="crypto-icon">
                          <img src="../images/crypto-icons/icon-st1.svg" class="w-full h-full" alt="#">
                        </span>
                        ST1
                      </div>
                    </td>
                    <td class="table-cell">
                      12.6677
                    </td>
                    <td class="table-cell">
                      37
                    </td>
                    <td class="table-cell">
                      bnb: 0.099...
                    </td>
                    <td class="table-cell">
                      293
                    </td>
                    <td class="table-cell">
                      F: 0%
                    </td>
                    <td class="table-cell">
                      -
                    </td>
                    <td class="table-cell">
                      <span class="value">7.1543</span>
                      <span class="percent">100%</span>
                    </td>
                    <td class="table-cell py-2 rounded-r-lg">
                      <div class="flex items-center">
                        <span class="table-btn mr-3" data-modal="modal-set-leverage">
                          <i class="icon-cell">
                            <img src="../images/price-tag.svg" class="w-full h-full" alt="#">
                          </i>
                          Leverage
                        </span>
                        <span class="table-btn" data-modal="modal-repay-borrow">
                          <i class="icon-cell">
                            <img src="../images/money.svg" class="w-full h-full" alt="#">
                          </i>
                          Repay borrow
                        </span>
                      </div>
                    </td>
                  </tr>

                  <!-- More items... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="xl:w-1/6 w-96">
      <div class="flex flex-col table-two-columns">
        <div class="overflow-x-auto">
          <div class="align-middle inline-block min-w-full">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="">
                  <tr>
                    <th scope="col" class="table-title">
                      In wallet
                    </th>
                    <th scope="col" class="table-title">
                      Deposit
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row">
                    <td class="table-cell rounded-l-lg">
                      12512.0000
                    </td>
                    <td class="table-cell rounded-r-lg">
                      -
                    </td>
                  </tr>

                  <tr class="table-row">
                    <td class="table-cell rounded-l-lg">
                      12512.0000
                    </td>
                    <td class="table-cell rounded-r-lg">
                      -
                    </td>
                  </tr>

                  <!-- More items... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="empty-borrow h-full w-full items-center justify-center text-center">
  <div class="flex flex-col">
    <div class="w-80 h-64 mx-auto">
      <img src="../images/empty.svg" class="w-full h-full" alt="#">
    </div>
    <div class="text-2xl leading-none font-medium text-ford-light mb-5">
      You dont have any credits yet
    </div>
    <div class="max-w-sm text-lg text-faux">
      When you open your first credit you will
      see all usefull data obout it.
    </div>
  </div>
</div>
