<script
  src="https://browser.sentry-cdn.com/6.3.5/bundle.tracing.min.js"
  integrity="sha384-0RpBr4PNjUAqckh8BtmPUuFGNC082TAztkL1VE2ttmtsYJBUvqcZbThnfE5On6h1"
  crossorigin="anonymous"
></script>
<script>
  if (location.hostname !== "localhost" && location.hostname !== "127.0.0.1") {
    Sentry.init({
    dsn: "https://ef64a3c1aef64e878bfdc7a13add1daf@o639119.ingest.sentry.io/5756522",
    integrations: [new Sentry.Integrations.BrowserTracing()],
    ignoreErrors: [
      'ResizeObserver loop limit exceeded', // not an important error in the resize observer
      'MetaMask Tx Signature', // Vendor error
      'TrustWeb3Provider', // Vendor error
      'ResizeObserver loop completed with undelivered notifications', // not an important error in the resize observer
      'NetworkError when attempting to fetch resource', // addBlocker is active
      'ignoreErrors',
      '/^cancelled$/',
      'Non-Error exception captured with keys: code, message',
      'Error: 522'
    ], 
    blacklistUrls: [
      /extensions\//i,
      /^chrome:\/\//i,
      /unpkg\.com/i
    ],
    // We recommend adjusting this value in production, or using tracesSampler
    // for finer control
    tracesSampleRate: 1.0,
  });
  }
</script>