<script
  src="https://browser.sentry-cdn.com/6.3.5/bundle.tracing.min.js"
  integrity="sha384-0RpBr4PNjUAqckh8BtmPUuFGNC082TAztkL1VE2ttmtsYJBUvqcZbThnfE5On6h1"
  crossorigin="anonymous"
></script>
<script>
  Sentry.init({
  dsn: "https://ef64a3c1aef64e878bfdc7a13add1daf@o639119.ingest.sentry.io/5756522",
  integrations: [new Sentry.Integrations.BrowserTracing()],

  // We recommend adjusting this value in production, or using tracesSampler
  // for finer control
  tracesSampleRate: 1.0,
});
</script>