<div class="flex items-center mb-9">
  <div class="flex items-center">
    <div class="w-6 h-6 mr-4 ml-2">
      <img src="../images/dashboard.svg" class="w-full h-full" alt="#">
    </div>
    <div class="text-3xl leading-9 font-bold mr-4">Dashboard</div>
  </div>
</div>
<div class="flex xl:flex-col flex-row items-start">
  <div class="flex flex-col bg-blueish-black py-5 px-6 xl:w-full w-1/2 xl:mr-0 mr-6 rounded-lg mb-6">
    <div class="flex items-center justify-center w-36 h-36 mx-auto mb-4">
      <img src="../images/circle-chart.svg" class="w-full h-full" alt="">
    </div>
   
    <div class="flex items-center flex-col justify-center text-center">
      <div class="text-base mb-1 leading-loose tracking-wider font-normal">
        Top 5 Cryptos market cap
      </div>
      <div class="flex items-center">
        <div id="dashboard-market-cap" class="text-2xl font-semibold mb-1">
          
        </div>
      </div>
      <div class="text-xs text-opacity-50 text-white tracking-wider mb-1 flex items-center">
        Compared to last day 
        <div class="current-state up flex items-center text-sm">
          <span id="dashboard-market-compared"></span>
        </div>
      </div>
    </div>
    <!-- <div class="assets-diagram__block">
    </div> -->
    
  </div>
  <div class="flex flex-col bg-blueish-black xl:w-full w-1/2 rounded-lg pt-7 pb-2 px-6" id="market-top-five-list">
  </div>
</div>
