<div class="main mx-6 mt-11 text-white">
  <div class="wrapper">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/deposit.svg" class="w-full h-full" alt="#">
      </div>
      <div class="text-3xl leading-9 font-bold mr-4">My Deposits</div>
    </div>
    <div class="btn ml-auto" data-modal="modal-new-deposit">
      Open New Deposit
    </div>
  </div>
  <div class="main-row">
    <div class="text-lg leading-6 font-medium mr-auto">
      All deposits
    </div>
    <div class="address-info">
      Connected address:
      <span class="current-wallet">
        0x6cea79e4d4dea3461b4d8452c911db1aa90f9b58
      </span>
    </div>
  </div>

  <!-- Test Table -->

  <h1>TEST TABLE</h1>

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="align-middle inline-block min-w-full">
        <div class="overflow-hidden">

          <div id="tokens_balance"></div>

        </div>
      </div>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="align-middle inline-block min-w-full">
        <div class="overflow-hidden">

          <table class="min-w-full">
            <thead class="">
              <tr>
                <th scope="col" class="table-title">
                  Assets
                </th>
                <th scope="col" class="table-title">
                  In wallet
                </th>
                <th scope="col" class="table-title">
                  Deposit
                </th>
                <th scope="col" class="table-title">
                  USD Value
                </th>
                <th scope="col" class="table-title">
                  APY
                </th>
                <th scope="col" class="table-title">
                  Duration days
                </th>
                <th scope="col" class="table-title">
                  Exractable
                </th>
                <th scope="col" class="table-title">

                </th>
                <th scope="col" class="table-title">
                  Current yield
                </th>
                <th scope="col" class="table-title">
                  Extractable yield
                </th>
                <th scope="col" class="table-title">

                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <img src="../images/icon-bnb.svg" class="w-full h-full" alt="#">
                    </span>
                    bnb
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  288.8456
                </td>
                <td class="table-cell">
                  1444
                </td>
                <td class="table-cell">
                  10.00
                </td>
                <td class="table-cell">
                  0
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  0.1643
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell rounded-r-lg">
                  -
                </td>
              </tr>

              <!-- space between tr -->

              <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <img src="../images/icon-t.svg" class="w-full h-full" alt="#">
                    </span>
                    ST1
                  </div>
                </td>
                <td class="table-cell">
                  0.7928
                </td>
                <td class="table-cell">
                  0.1000
                </td>
                <td class="table-cell">
                  173
                </td>
                <td class="table-cell">
                  10.01
                </td>
                <td class="table-cell">
                  1
                </td>
                <td class="table-cell">
                  0.1000
                </td>
                <td class="table-cell py-2">
                  <span class="table-btn" data-modal="modal-withdraw-deposit">
                    <i class="icon-cell">
                      <img src="../images/withdrow.svg" class="w-full h-full" alt="#">
                    </i> 
                    Withdraw deposit
                  </span>
                </td>
                <td class="table-cell">
                  0.1643
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell rounded-r-lg py-2">
                  <span class="table-btn">
                    <i class="icon-cell">
                      <img src="../images/withdrow.svg" class="w-full h-full" alt="#">
                    </i> 
                    Withdraw yield
                  </span>
                </td>
              </tr>

              <!-- space between tr -->

              <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <img src="../images/icon-b.svg" class="w-full h-full" alt="#">
                    </span>
                    ST2
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  10.02
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell rounded-r-lg">
                  -
                </td>
              </tr>

               <!-- space between tr -->

               <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <img src="../images/icon-b.svg" class="w-full h-full" alt="#">
                    </span>
                    ST3
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  10.02
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell rounded-r-lg">
                  -
                </td>
              </tr>

               <!-- space between tr -->

               <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <img src="../images/icon-b.svg" class="w-full h-full" alt="#">
                    </span>
                    ST4
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  10.02
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell rounded-r-lg">
                  -
                </td>
              </tr>

               <!-- space between tr -->

               <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <img src="../images/icon-b.svg" class="w-full h-full" alt="#">
                    </span>
                    ST5
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  10.02
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell rounded-r-lg">
                  -
                </td>
              </tr>

               <!-- space between tr -->

               <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="crypto-icon">
                      <!-- <img src="../images/icon-b.svg" class="w-full h-full" alt="#"> -->
                    </span>
                    ETNA
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  10.02
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell">
                  -
                </td>
                <td class="table-cell rounded-r-lg">
                  -
                </td>
              </tr>

               <!-- space between tr -->

               <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
