<div class="main mx-6 mt-11 text-white">
  <div class="wrapper">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/deposit.svg" class="w-full h-full" alt="#">
      </div>
      <div class="text-3xl leading-9 font-bold mr-4" onclick="reorder_divs('list_deposits','add_deposits')">My Deposits</div>
    </div>
    <div class="btn ml-auto" onclick="new_deposit_modal.show()">
      Open New Deposit
    </div>
  </div>
  <div class="main-row">
    <div class="text-lg leading-6 font-medium mr-auto">
      All deposits
    </div>
    <div class="address-info">
      Connected address:
      <span class="current-wallet">
        0x6cea79e4d4dea3461b4d8452c911db1aa90f9b58
      </span>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="align-middle inline-block min-w-full">
        <div class="overflow-hidden">

          <div id="tokens_balance"></div>

        </div>
      </div>
    </div>
  </div>

</div>
