<div class="copyright mt-auto w-full bg-blueish-black py-4 px-9">
  <div class="flex xl:items-center items-start">
    <div class="w-4 mr-1 xl:mt-0 mt-1 flex items-center">
      <img src="../images/info.svg" class="w-full h-full" alt="#">
    </div>
    <div class="uppercase tracking-wide text-faux-purple text-xs w- font-bold w-11/12">
      *Expected value, based on current system state shown: effective APY depends also on asset usage data, effective
      APR depends on collateral and credit asset and asset usage data.
    </div>
  </div>
</div>
