<div class="copyright">
  <div class="flex xl:items-center items-start">
    <div class="w-4 mr-1 mt-0 flex items-center copyright-icon">
      <img src="../images/info.svg" class="w-full h-full" alt="#">
    </div>
    <div class="copyright-common uppercase copyright-text copyright-width">
     * Expected value, based on current system state shown: effective APY depends also on asset usage data, effective
      APR depends on collateral and credit asset and asset usage data.
    </div>
    <div class="copyright-credit uppercase copyright-text copyright-width">
      * Effective current credit APR, based on all condition, inc. Leverage
    </div>
  </div>
</div>
