<div class="main mx-6 mt-11 text-white">
  <div class="flex items-center justify-between mx-2 mb-9">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/coins.svg" class="w-full h-full" alt="#">
      </div>
      <div class="text-3xl leading-9 font-bold mr-4">Liquidity-Earn</div>
    </div>
    <div class="ml-auto flex items-center">
      <div class="flex items-center select-additional__options">
        <select id="link-select" name="link-select" class="color-select">
          <option value="st1" data-href="#3">BNB-ST1</option>
          <option value="st2" data-href="#2">BNB-ST2</option>
          <option value="test" selected data-href="#1">
            Go to pool at Pancakeswap
          </option>
          <option value="st3" data-href="#2">BNB-ST3</option>
          <option value="st4" data-href="#2">BNB-ST4</option>
          <option value="cytr" data-href="#2">BNB-CYTR</option>
        </select>
      </div>
      <div class="btn ml-4" data-modal="modal-add-liquidity">
        Add liquidity
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between w-full mb-5">
    <div class="text-lg leading-6 font-medium mr-auto">
      My liquidity pools
    </div>
    <div class="address-info text-md leading-6 font-medium text-right">
      Connected address:
      <span>
        0x6cea79e4d4dea3461b4d8452c911db1aa90f9b58
      </span>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="align-middle inline-block min-w-full">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="">
              <tr>
                <th scope="col" class="table-title">
                  Liquidity-Pair
                </th>
                <th scope="col" class="table-title">
                  Quatntity
                </th>
                <th scope="col" class="table-title">
                  Lockup
                </th>
                <th scope="col" class="table-title">
                  Days till Wit...
                </th>
                <th scope="col" class="table-title">
                  USD value
                </th>
                <th scope="col" class="table-title">
                  APY
                </th>
                <th scope="col" class="table-title">
                  Duration days
                </th>
                <th scope="col" class="table-title">
                  Extractable
                </th>
                <th scope="col" class="table-title">

                </th>
                <th scope="col" class="table-title">
                  Current Yield CYTR
                </th>
                <th scope="col" class="table-title">
                  Extractable Yield CYTR
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="flex items-center justify-center w-5 h-5 mr-2">
                      <img src="../images/icon-b.svg" class="w-full h-full" alt="#">
                    </span>
                    BNB-ST1
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  288.8456
                </td>
                <td class="table-cell">
                  1444
                </td>
                <td class="table-cell">
                  10.00
                </td>
                <td class="table-cell">
                  0
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell">
                  0.0002
                </td>
                <td class="table-cell py-2">
                  <span class="table-btn">
                    <i class="flex items-center justify-center w-4 h-5 mr-2">
                      <img src="../images/withdrow.svg" class="w-full h-full" alt="#">
                    </i>
                    Withdraw deposit
                  </span>
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell rounded-r-lg py-2">
                  <div class="flex items-center">
                    <span class="value">
                      0.0002
                    </span>

                    <span class="table-btn ml-auto">
                      <i class="flex items-center justify-center w-4 h-5 mr-2">
                        <img src="../images/withdrow.svg" class="w-full h-full" alt="#">
                      </i>
                      Withdraw yield
                    </span>
                  </div>
                </td>
              </tr>

              <!-- space between tr -->

              <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <tr class="table-row">
                <td class="table-cell rounded-l-lg">
                  <div class="flex items-center">
                    <span class="flex items-center justify-center w-5 h-5 mr-2">
                      <img src="../images/icon-b.svg" class="w-full h-full" alt="#">
                    </span>
                    BNB-ST1
                  </div>
                </td>
                <td class="table-cell">
                  9700.00
                </td>
                <td class="table-cell">
                  288.8456
                </td>
                <td class="table-cell">
                  1444
                </td>
                <td class="table-cell">
                  10.00
                </td>
                <td class="table-cell">
                  0
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell">
                  0.0002
                </td>
                <td class="table-cell py-2">
                  <span class="table-btn">
                    <i class="flex items-center justify-center w-4 h-5 mr-2">
                      <img src="../images/withdrow.svg" class="w-full h-full" alt="#">
                    </i>
                    Withdraw deposit
                  </span>
                </td>
                <td class="table-cell">
                  0.0000
                </td>
                <td class="table-cell rounded-r-lg py-2">
                  <div class="flex items-center">
                    <span class="value">
                      0.0002
                    </span>

                    <span class="table-btn ml-auto">
                      <i class="flex items-center justify-center w-4 h-5 mr-2">
                        <img src="../images/withdrow.svg" class="w-full h-full" alt="#">
                      </i>
                      Withdraw yield
                    </span>
                  </div>
                </td>
              </tr>

              <!-- space between tr -->

              <tr class="h-3">
                <td></td>
              </tr>

              <!-- end space between tr -->

              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
