<div class="main mx-6 mt-11 text-white">
  <div class="wrapper">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/coins.svg" class="w-full h-full" alt="#">
      </div>
      <div class="text-3xl leading-9 font-bold mr-4">Liquidity-Earn</div>
    </div>
    <div class="ml-auto flex items-center">
      <div class="flex items-center select-additional__options">
        <select id="link-select" name="link-select" class="color-select">
          <option value="" selected data-href="javascript:void(0)">Go to pool at Pancakeswap</option>
          <option value="st1" data-href="#3">BNB-ST1</option>
          <option value="st2" data-href="#2">BNB-ST2</option>
          <option value="st3" data-href="#2">BNB-ST3</option>
          <option value="st4" data-href="#2">BNB-ST4</option>
          <option value="cytr" data-href="#2">BNB-CYTR</option>
        </select>
      </div>
      <div class="btn ml-4" onclick="modal_add_lliquidity.show()">
        Add liquidity
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="text-lg leading-6 font-medium mr-auto">
      My liquidity pools
    </div>
    <div class="address-info">
      Connected address:
      <span class="current-wallet">
      </span>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="w-full flex filled flex-col">
    <div class="overflow-x-auto">
      <div class="align-middle inline-block min-w-full">
        <div class="overflow-hidden">

          <div id="deposits_uniswap"></div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="empty-liquidity h-empty w-full items-center justify-center text-center">
  <div class="flex flex-col">
    <div class="w-48 h-35 mb-8 mx-auto">
      <img src="../images/empty.svg" class="w-full h-full" alt="#">
    </div>
    <div class="text-2xl leading-none font-medium text-ford-light mb-5">
      You dont have any liquidity yet
    </div>
    <div class="max-w-sm text-lg text-faux mx-auto">
      When you open your first liquidity you will
      see all usefull data obout it.
    </div>
  </div>
</div>
