<!-- add-liquidity -->

<div class="modal" id="modal-add-liquidity">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Add liquidity</div>
      <button class="modal-close modal-exit ">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex flex-col mb-4">
        <div class="name-field">Select asset</div>
        <div class="flex border-medium-grey border rounded-lg w-full">
          <div class="w-7/12 without-link">
            <select id="liqpairs-dropdown" name="liqpairs-dropdown">
            </select>
          </div>
          <div class="w-5/12">
            <div class="field-info">In wallet: <span class="in-wallet flex items-center ml-1"
                id="liq_pair_in_wallet"></span></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-4">
        <label for="stake-qnt" class="name-field ">Stake qnt</label>
        <input type="text" name="stake-qnt" id="liq_pair_stake_am" placeholder="-" class="stake-input">
      </div>
      <div class="flex flex-col mb-11">
        <div class="name-field ">Period and Annual rate</div>
        <div class="flex border-medium-grey border rounded-lg w-full">
          <div class="w-7/12 without-link">
            <select id="liqterms-dropdown" name="liqterms-dropdown">
            </select>
          </div>
          <div class="w-5/12">
            <div class="field-info justify-center percent-data" id="liq_pair_apy"></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <button type="submit" class="btn w-full mb-4" onclick="approve_stake_liq()" data-id="approve" id="approve_liq_confirm">Approve tokens move</button>
        <button disabled="disabled" class="btn w-full" data-id="confirm" onclick="stake_liq()" id="stake_liq_confirm">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- set-leverage -->

<div class="modal" id="modal-set-leverage">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Set Leverage</div>
      <button class="modal-close modal-exit ">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex flex-col mb-4">
        <div class="name-field">Leverage %</div>
        <div class="flex border-medium-grey border rounded-lg w-full without-link">
          <select id="select-leverage" name="select-leverage" class="color-select">
            <option value="25" selected>25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
          </select>
        </div>
      </div>
      <div class="flex flex-col mb-11">
        <label for="lev_size" class="name-field">CYTR Leverage</label>
        <input type="number" readonly value="0" placeholder="0" id="lev_size" class="input-type">
      </div>
      <div class="flex flex-col">
        <button type="submit" data-id="confirm" class="btn w-full">Confirm Leverage</button>
      </div>
    </div>
  </div>
</div>

<!-- return-credit -->

<div class="modal" id="modal-return-credit">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Return credit body</div>
      <button class="modal-close modal-exit ">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex mb-4 w-full btns-array">
        <div class="flex-1 flex">
          <input type="radio" name="borrow" value="all-borrow" id="return_credit_all" checked class="hidden">
          <label for="return_credit_all" class="btn-checked">
            All borrow
          </label>
        </div>
        <div class="flex-1 flex">
          <input type="radio" name="borrow" value="part-borrow" id="return_credit_part" class="hidden">
          <label for="return_credit_part" class="btn-checked">
            Part
          </label>
        </div>
      </div>
      <div class="flex flex-col mb-11">
        <label for="credit_return_input" class="name-field ">Total repay</label>
        <input type="text" name="total-repay" id="credit_return_input" class="input-type" readonly value="18.5000"
          placeholder="18.5000">
      </div>
      <div class="flex flex-col">
        <button type="submit" class="btn w-full mb-4" data-id="approve" id="return_credit_mvtokens">Approve tokens move</button>
        <button disabled="disabled" class="btn w-full" data-id="confirm" id="return_credit_confirm">Repay borrow</button>
      </div>
    </div>
  </div>
</div>

<!-- open new credit -->

<div class="modal" id="modal-open-new-credit">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Open New Credit</div>
      <button class="modal-close modal-exit ">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex flex-col mb-4">
        <div class="name-field">Select Collateral</div>
        <div class="flex border-medium-grey border rounded-lg w-full without-link">
          <select id="credprofiles-dropdown" name="credprofiles-dropdown">
            
          </select>
        </div>
      </div>
      <div class="flex mb-4 w-full btns-array">
        <div class="flex-1 flex info-block relative">
          <div class="info-block__popup">
            Information about ...
          </div>
          <input type="radio" onclick="full_collateral_btn(depAmountByProfileId(userObject.state.selected_credprofile)[0])" name="credit" value="full_collateral" id="full_collateral" checked class="hidden">
          <label for="full_collateral" class="btn-checked">
            Full
          </label>
        </div>
        <div class="flex-1 flex">
          <input type="radio" name="credit" onclick="part_collateral_btn(depAmountByProfileId(userObject.state.selected_credprofile)[0])" value="part_collateral" id="part_collateral" class="hidden">
          <label for="part_collateral" class="btn-checked">
            Part
          </label>
        </div>
      </div>
      <div class="flex flex-col mb-4">
        <label for="tokens_amount_collateral" class="name-field">Assets amount</label>
        <input type="text" oninput="updUSDValueCollateral('tokens_amount_collateral','usd_value_collateral', depAmountByProfileId(userObject.state.selected_credprofile)[0]);" name="tokens_amount_collateral"  id="tokens_amount_collateral" class="input-type" value=""
          placeholder="-">
      </div>
      <div class="flex flex-col mb-4">
        <label for="usd_value_collateral" class="name-field ">Coll. USD value</label>
        <input type="text" name="usd_value_collateral" id="usd_value_collateral" readonly class="input-type" value=""
          placeholder="-">
      </div>
      <div class="flex flex-col mb-4">
        <div class="name-field">Get credit in:</div>
        <div class="flex border-medium-grey border rounded-lg w-full">
          <div class="w-8/12 without-link">
            <select id="getcredit-dropdown" name="getcredit-dropdown">
              <option value="" disabled selected>Select assets</option>
            </select>
          </div>
          <div class="w-4/12">
            <div class="field-info"><span class="in-wallet flex items-center ml-1" id="tokens_amount_getcredit" style="display: flex;">-</span></div>
        </div>
      </div>
    </div>
    <div class="specify w-full flex items-center justify-center mb-4">
      <div class="line h-px w-full bg-medium-grey"></div>
      <div
        class="flex whitespace-nowrap items-center w-fit-content justify-center py-1 px-2 text-xs text-center text-gray-500 border border-medium-grey rounded-2xl">
        Specify credit type</div>
      <div class="line h-px w-full bg-medium-grey"></div>
    </div>
    <div class="flex mb-4 w-full btns-array">
      <div class="flex-1 flex">
        <input type="radio" name="credit-type" value="percent-regular" id="set_var_credit" checked class="hidden">
        <label for="set_var_credit" class="btn-checked">
          Regular
        </label>
      </div>
      <div class="flex-1 flex">
        <input type="radio" name="credit-type" value="percent-fixed" id="set_fixed_credit" class="hidden">
        <label for="set_fixed_credit" class="btn-checked">
          Fixed %
        </label>
      </div>
    </div>
    <div class="flex flex-col">
      <label for="total-credit" class="name-field ">Total credit %</label>
      <input type="number" readonly name="credit_perc" id="credit_perc" class="input-type" placeholder="-">
    </div>
    <div class="flex flex-col mt-11">
      <button type="submit" onclick="getCredit()" data-id="confirm" class="btn w-full" id="getcredit_button">Confirm</button>
    </div>
  </div>
</div>
</div>

<!-- open new deposit -->

<div class="modal" id="modal-new-deposit">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Open New Deposit</div>
      <button class="modal-close modal-exit ">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="name-field ">Select Asset</div>
      <div class="without-link special-select flex border-medium-grey border rounded-lg w-full mb-4">
        <select id="depprofiles-dropdown" name="depprofiles-dropdown">
        </select>
      </div>
      <div id="assets-dropdown" class="flex flex-col mb-4">
        <div class="name-field ">Select NFT</div>
        <select class="form-control" name="choices-multiple" id="nftAssetsSelect" multiple>
        </select>
      </div>
      <div class="flex flex-col mb-4">
        <label for="tokens_amount" class="name-field ">Assets amount</label>
        <input type="number" name="tokens_amount" id="tokens_amount" class="input-type" value="1">
      </div>
      <div class="flex flex-col mb-11">
        <label for="usd_value" class="name-field ">USD value</label>
        <input type="number" name="usd_value" id="usd_value" class="input-type" value="0" readonly>
      </div>
      <div class="flex flex-col">
        <button type="submit" class="btn w-full mb-4" data-id="approve" onclick="approve_deposit()" id="approve_button">Approve tokens move</button>
        <button type="submit" disabled class="btn w-full" data-id="confirm" onclick="deposit()" id="deposit_button">Deposit tokens</button>
      </div>
    </div>
  </div>
</div>

<!-- withdraw deposit -->

<div class="modal" id="modal-withdraw-deposit">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Withdraw deposit</div>
      <button class="modal-close modal-exit">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex mb-4 w-full btns-array">
        <div class="flex-1 flex">
          <input type="radio" name="deposit" value="all-deposit" id="withraw_dep_all" checked class="hidden">
          <label for="withraw_dep_all" class="btn-checked">
            All deposit
          </label>
        </div>
        <div class="flex-1 flex">
          <input type="radio" name="deposit" value="part-deposit" id="withraw_dep_part" class="hidden">
          <label for="withraw_dep_part" class="btn-checked">
            Part
          </label>
        </div>
      </div>
      <div class="flex flex-col mb-11">
        <label for="withraw_dep_input" class="name-field ">Total</label>
        <input type="number" name="total-repay" id="withraw_dep_input" class="input-type" readonly value="18.5000"
          placeholder="18.5000">
      </div>
      <div class="flex flex-col">
        <button type="submit" id="withraw_dep_confirm" data-id="confirm" class="btn w-full">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- withdraw yield -->

<div class="modal" id="modal-withdraw-reward">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Withdraw yied</div>
      <button class="modal-close modal-exit">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex flex-col mb-11">
        <div class="name-field">Do you confirm to withdraw all yield?</div>
      </div>
      <div class="flex flex-col">
        <button type="submit" id="withraw_rew_confirm" data-id="confirm" class="btn w-full">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- unfreeze -->

<div class="modal" id="modal-unfreeze">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="modal-top">
      <div class="text-lg font-normal">Unfreeze</div>
      <button class="modal-close modal-exit">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="top-divider">
      <div class="flex flex-col mb-11">
        <div class="name-field">Do you confirm to unfreeze?</div>
      </div>
      <div class="flex flex-col">
        <button type="submit" id="modal-unfreeze-confirm" data-id="confirm" class="btn w-full">Confirm</button>
      </div>
    </div>
  </div>
</div>
