<!-- add-liquidity -->

<div class="modal" id="modal-add-liquidity">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="flex items-center justify-between p-5 w-full h-auto">
      <div class="text-lg font-normal">Add liquidity</div>
      <button class="modal-close modal-exit w-6 h-6 flex items-center justify-center cursor-pointer focus:outline-none">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="flex flex-col p-5 border-light-grey border-t">
      <div class="flex flex-col mb-4">
        <div class="name-field text-sm text-grey-100 font-medium mb-1">Select asset</div>
        <div class="flex border-medium-grey border rounded-lg w-full">
          <div class="w-7/12 without-link">
            <select id="select-asset" name="select-asset" class="color-select">
              <option value="st1" selected data-href="#3">BNB-ST1</option>
              <option value="st2" data-href="#2">BNB-ST2</option>
              <option value="st3" data-href="#2">BNB-ST3</option>
              <option value="st4" data-href="#2">BNB-ST4</option>
              <option value="cytr" data-href="#2">BNB-CYTR</option>
            </select>
          </div>
          <div class="w-5/12">
            <div class="py-3 px-4 text-sm flex items-center border-l border-light-grey">In wallet: <span
                class="in-wallet flex items-center ml-1">9988.0000</span></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-4">
        <label for="stake-qnt" class="name-field text-sm text-grey-100 font-medium mb-1">Stake qnt</label>
        <input type="text" name="stake-qnt" id="stake-qnt" placeholder="-"
          class="border-medium-grey border text-sm rounded-lg w-full h-11 bg-blueish-black focus:outline-none py-3 px-4">
      </div>
      <div class="flex flex-col mb-11">
        <div class="name-field text-sm text-grey-100 font-medium mb-1">Period and Annual rate</div>
        <div class="flex border-medium-grey border rounded-lg w-full">
          <div class="w-7/12 without-link">
            <select id="select-period" name="select-period" class="color-select">
              <option value="1weeks">1 week</option>
              <option value="2weeks" selected>2 weeks</option>
              <option value="3weeks">3 weeks</option>
              <option value="4weeks">4 weeks</option>
              <option value="5weeks">5 weeks</option>
            </select>
          </div>
          <div class="w-5/12">
            <div class="py-3 px-4 text-sm flex items-center border-l border-light-grey justify-center"><span
                class="percent-data mr-1">12%</span> APY</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <button type="submit" class="btn w-full mb-4">Approve tokens move</button>
        <button disabled="disabled" class="btn w-full">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- set-leverage -->

<div class="modal" id="modal-set-leverage">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="flex items-center justify-between p-5 w-full h-auto">
      <div class="text-lg font-normal">Set Leverage</div>
      <button class="modal-close modal-exit w-6 h-6 flex items-center justify-center cursor-pointer focus:outline-none">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="flex flex-col p-5 border-light-grey border-t">
      <div class="flex flex-col mb-4">
        <div class="name-field text-sm text-grey-100 font-medium mb-1">Leverage %</div>
        <div class="flex border-medium-grey border rounded-lg w-full without-link">
          <select id="select-leverage" name="select-leverage" class="color-select">
            <option value="25%" selected>25%</option>
            <option value="35%">35%</option>
            <option value="45%">45%</option>
            <option value="55%">55%</option>
            <option value="65%">65%</option>
          </select>
        </div>
      </div>
      <div class="flex flex-col mb-11">
        <div class="name-field text-sm text-grey-100 font-medium mb-1">CYTR Leverage</div>
        <div
          class="input-type">
          72,27</div>
      </div>
      <div class="flex flex-col">
        <button type="submit" class="btn w-full">Confirm Leverage</button>
      </div>
    </div>
  </div>
</div>

<!-- repay-borrow -->

<div class="modal" id="modal-repay-borrow">
  <div class="modal-exit modal-exit__bg"></div>
  <div class="pop-up">
    <div class="flex items-center justify-between p-5 w-full h-auto">
      <div class="text-lg font-normal">Return credit body</div>
      <button class="modal-close modal-exit w-6 h-6 flex items-center justify-center cursor-pointer focus:outline-none">
        <img src="../images/close.svg" class="w-3 h-3" alt="#">
      </button>
    </div>
    <div class="flex flex-col p-5 border-light-grey border-t">
      <div class="flex mb-4 w-full">
        <div class="w-1/2">
          <div class="btn-checked active">
            All borrow
          </div>
        </div>
        <div class="w-1/2">
          <div class="btn-checked">
            Part
          </div>
        </div>
      </div>
      <div class="flex flex-col mb-11">
        <label for="repay-borrow" class="name-field text-sm text-grey-100 font-medium mb-1">Total repay</label>
        <input type="text" name="repay-borrow" id="repay-borrow"
          class="input-type"
          value="18.5000" placeholder="18.5000">
      </div>
      <div class="flex flex-col">
        <button type="submit" class="btn w-full mb-4">Approve tokens move</button>
        <button disabled="disabled" class="btn w-full">Repay borrow</button>
      </div>
    </div> 
  </div>
</div>
