<div class="flex flex-col mx-6">
  <div class="notif-row success bg-green-success">
    <div class="flex items-center text-sm leading-5 font-medium text-green-3">
      <span class="flex items-center justify-center mr-2 w-4 h-4">
        <img src="../images/success-circle.svg" class="w-full h-full" alt="#">
      </span>
      Success message
    </div>
    <div class="close-icon">
      <img src="../images/close-green.svg" class="w-3 h-3" alt="#">
    </div>
  </div>
  <div class="notif-row warning bg-warning">
    <div class="flex items-center text-sm leading-5 font-medium text-yellow">
      <span class="flex items-center justify-center mr-2 w-4 h-4">
        <img src="../images/warning-icon.svg" class="w-full h-full" alt="#">
      </span>
      You need to select collateral asset!
    </div>
    <div class="close-icon">
      <img src="../images/close-yellow.svg" class="w-3 h-3" alt="#">
    </div>
  </div>
  <div class="notif-row error bg-error" id="info_pane" onclick="safeSetInnerHTMLById('info_pane','')">
    <div class="flex items-center text-sm leading-5 font-medium text-red">
      <span class="flex items-center justify-center mr-2 w-4 h-4">
        <img src="../images/error-icon.svg" class="w-full h-full" alt="#">
      </span>
      Error message
    </div>
    <div class="close-icon">
      <img src="../images/close-red.svg" class="w-3 h-3" alt="#">
    </div>
  </div>
</div>
