<div class="flex items-center mb-9">
  <div class="flex items-center">
    <div class="w-6 h-6 mr-4 ml-2">
      <img src="../images/dashboard.svg" class="w-full h-full" alt="#">
    </div>
    <div class="text-3xl leading-9 font-bold mr-4">Dashboard</div>
  </div>
</div>
<div class="flex xl:flex-col flex-row items-start our-info">
  <div class="flex flex-col bg-blueish-black py-5 px-7 xl:w-full w-1/2 xl:mr-0 mr-6 rounded-lg mb-7">
    <div class="flex items-center justify-center w-36 h-36 mx-auto mb-4">
      <img src="../images/circle-chart.svg" class="w-full h-full" alt="">
    </div>

    <div class="flex items-center flex-col justify-center text-center">
      <div class="text-xl leading-relaxed tracking-wider font-normal">
        Total assets
      </div>
      <div class="flex items-center">
        <div class="text-2xl lg:font-semibold leading-normal">
          12,748,120 <span class="number_increase">2%</span>
        </div>
      </div>
      <div class="text-xs text-opacity-50 text-white tracking-wider flex items-center">
        Compared to <span class="last-mounth-amount-info mx-1">$121,504</span> last mounth
      </div>
    </div>
    <div class="assets-diagram__block flex flex-col w-full mt-10">
      <div class="assets-diagram__row w-full flex items-center mb-3">
        <div class="w-1/3 row-name">
          Borrow
        </div>
        <div class="w-3/12 text-right text-opacity-50 text-white tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <img src="./images/graph-pink.svg" alt="#">
        </div>
      </div>
      <div class="assets-diagram__row w-full flex items-center mb-3">
        <div class="w-1/3 row-name">
          Deposits
        </div>
        <div class="w-3/12 text-right text-opacity-50 text-white tracking-wider text-sm">
          753
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <img src="./images/graph-green.svg" alt="#">
        </div>
      </div>
      <div class="assets-diagram__row w-full flex items-center">
        <div class="w-1/3 row-name">
          Borrow
        </div>
        <div class="w-3/12 text-right text-opacity-50 text-white tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <img src="./images/graph-yellow.svg" alt="#">
        </div>
      </div>
    </div>
  </div>
  <!-- here need to add data-simplebar -->
  <div class="bg-blueish-black xl:w-full w-1/2 rounded-lg py-5 px-7 mb-2"
    id="our-top-five-list">
    <div class="flex flex-col">
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center mb-4">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
      <div class="crypto-row flex w-full items-center">
        <div class="w-1/3 row-name uppercase">
          ST1
        </div>
        <div class="w-3/12 text-right text-violet-100 tracking-wider text-sm">
          862
        </div>
        <div class="w-5/12 flex items-center justify-end h-5 w-auto">
          <div class="crypto-amount row-name">
            2,540 <span class="number_increase ml-2"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
