<div class="flex items-center justify-center w-full h-full">
  <svg width="1073" height="779" viewBox="0 0 1073 779" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="531" cy="389" r="323.5" stroke="#252545" />
    <circle cx="531" cy="389" r="388.5" stroke="#252545" />
    <g filter="url(#filter0_dddii)">
      <circle cx="531" cy="389" r="125" fill="#030092" />
      <circle cx="531" cy="389" r="125" fill="url(#paint0_radial)" />
    </g>
    <g filter="url(#filter1_dddii)">
      <circle cx="531" cy="389" r="125" fill="#030092" />
      <circle cx="531" cy="389" r="125" fill="url(#paint1_radial)" />
    </g>
    <g filter="url(#filter2_dii)">
      <circle cx="741" cy="376" r="60" fill="#030092" />
      <circle cx="741" cy="376" r="60" fill="url(#paint2_radial)" />
    </g>
    <g filter="url(#filter3_dii)">
      <circle cx="672.5" cy="281.5" r="31.5" fill="#030092" />
      <circle cx="672.5" cy="281.5" r="31.5" fill="url(#paint3_radial)" />
    </g>
    <g filter="url(#filter4_dii)">
      <circle cx="443.5" cy="222.5" r="43.5" fill="#030092" />
      <circle cx="443.5" cy="222.5" r="43.5" fill="url(#paint4_radial)" />
    </g>
    <g filter="url(#filter5_dii)">
      <circle cx="358" cy="416" r="30" fill="#030092" />
      <circle cx="358" cy="416" r="30" fill="url(#paint5_radial)" />
    </g>
    <g filter="url(#filter6_dii)">
      <circle cx="751" cy="272" r="10" fill="#030092" />
      <circle cx="751" cy="272" r="10" fill="url(#paint6_radial)" />
    </g>
    <g filter="url(#filter7_dii)">
      <circle cx="702" cy="483" r="10" fill="#030092" />
      <circle cx="702" cy="483" r="10" fill="url(#paint7_radial)" />
    </g>
    <g filter="url(#filter8_dii)">
      <circle cx="354" cy="186" r="10" fill="#030092" />
      <circle cx="354" cy="186" r="10" fill="url(#paint8_radial)" />
    </g>
    <g filter="url(#filter9_dii)">
      <circle cx="207" cy="551" r="10" fill="#030092" />
      <circle cx="207" cy="551" r="10" fill="url(#paint9_radial)" />
    </g>
    <g filter="url(#filter10_dii)">
      <circle cx="182" cy="305" r="30" fill="#030092" />
      <circle cx="182" cy="305" r="30" fill="url(#paint10_radial)" />
    </g>
    <g filter="url(#filter11_dii)">
      <circle cx="921" cy="513" r="30" fill="#030092" />
      <circle cx="921" cy="513" r="30" fill="url(#paint11_radial)" />
    </g>
    <g filter="url(#filter12_dii)">
      <circle cx="120" cy="393" r="32" fill="#030092" />
      <circle cx="120" cy="393" r="32" fill="url(#paint12_radial)" />
    </g>
    <g filter="url(#filter13_dii)">
      <circle cx="235.5" cy="434.5" r="50.5" fill="#030092" />
      <circle cx="235.5" cy="434.5" r="50.5" fill="url(#paint13_radial)" />
    </g>
    <g filter="url(#filter14_dii)">
      <circle cx="879.5" cy="404.5" r="50.5" fill="#030092" />
      <circle cx="879.5" cy="404.5" r="50.5" fill="url(#paint14_radial)" />
    </g>
    <g filter="url(#filter15_dii)">
      <circle cx="631.5" cy="568.5" r="58.5" fill="#030092" />
      <circle cx="631.5" cy="568.5" r="58.5" fill="url(#paint15_radial)" />
    </g>
    <g filter="url(#filter16_dii)">
      <circle cx="365.5" cy="566.5" r="87.5" fill="#030092" />
      <circle cx="365.5" cy="566.5" r="87.5" fill="url(#paint16_radial)" />
    </g>
    <g filter="url(#filter17_dii)">
      <circle cx="307.5" cy="292.5" r="71.5" fill="#030092" />
      <circle cx="307.5" cy="292.5" r="71.5" fill="url(#paint17_radial)" />
    </g>
    <g filter="url(#filter18_dii)">
      <circle cx="591.5" cy="182.5" r="71.5" fill="#030092" />
      <circle cx="591.5" cy="182.5" r="71.5" fill="url(#paint18_radial)" />
    </g>
    <g filter="url(#filter19_dii)">
      <circle cx="940.5" cy="183.5" r="52.5" fill="#030092" />
      <circle cx="940.5" cy="183.5" r="52.5" fill="url(#paint19_radial)" />
    </g>
    <g filter="url(#filter20_dii)">
      <circle cx="162.5" cy="664.5" r="30.5" fill="#030092" />
      <circle cx="162.5" cy="664.5" r="30.5" fill="url(#paint20_radial)" />
    </g>
    <g filter="url(#filter21_dii)">
      <circle cx="103.5" cy="106.5" r="23.5" fill="#030092" />
      <circle cx="103.5" cy="106.5" r="23.5" fill="url(#paint21_radial)" />
    </g>
    <text fill="#7878B6" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
      letter-spacing="0.44px">
      <tspan x="460.303" y="431.431"> $121,504 last month</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
      letter-spacing="0.44px">
      <tspan x="444.396" y="383.207">Total assets USD value</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="20"
      font-weight="bold" letter-spacing="0.15px">
      <tspan x="481.321" y="409.759">12,748,120</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="20"
      font-weight="bold" letter-spacing="0.15px">
      <tspan x="323.372" y="588.759">$32,982</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
      letter-spacing="0.44px">
      <tspan x="311.096" y="562.207">Total borrow</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
      letter-spacing="0.44px">
      <tspan x="572.645" y="198.207">23,657</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
      letter-spacing="0.44px">
      <tspan x="558.452" y="198.207"> $</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="12"
      letter-spacing="0.4px">
      <tspan x="555.252" y="173.655">Total credits</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
      letter-spacing="0.44px">
      <tspan x="709.25" y="391.207">$21,987</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="12"
      letter-spacing="0.4px">
      <tspan x="699.189" y="366.655">Total deposits</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
      letter-spacing="0.44px">
      <tspan x="280.048" y="309.207">31,657</tspan>
    </text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="12"
      letter-spacing="0.4px">
      <tspan x="274.279" y="284.655">Total users</tspan>
    </text>
    <defs>
      <filter id="filter0_dddii" x="326" y="188" width="470" height="526" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dx="60" dy="120" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.02 0 0 0 0 0 0 0 0 0 1 0 0 0 0.2 0" />
        <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="10" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.575 0 0 0 0 0.575 0 0 0 0.13 0" />
        <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect4_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect4_innerShadow" result="effect5_innerShadow" />
      </filter>
      <filter id="filter1_dddii" x="326" y="188" width="470" height="526" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dx="60" dy="120" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.02 0 0 0 0 0 0 0 0 0 1 0 0 0 0.2 0" />
        <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="10" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.575 0 0 0 0 0.575 0 0 0 0.13 0" />
        <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect4_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect4_innerShadow" result="effect5_innerShadow" />
      </filter>
      <filter id="filter2_dii" x="601" y="240" width="280" height="280" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter3_dii" x="561" y="174" width="223" height="223" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="15" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter4_dii" x="320" y="103" width="247" height="247" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="25" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter5_dii" x="248" y="310" width="220" height="220" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="25" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter6_dii" x="661" y="186" width="180" height="180" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter7_dii" x="612" y="397" width="180" height="180" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter8_dii" x="264" y="100" width="180" height="180" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter9_dii" x="117" y="465" width="180" height="180" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter10_dii" x="72" y="199" width="220" height="220" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.135917 0 0 0 0 0 0 0 0 0 0.970833 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="16" />
        <feGaussianBlur stdDeviation="10" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.510417 0 0 0 0 0.0208333 0 0 0 0 1 0 0 0 0.95 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter11_dii" x="811" y="407" width="220" height="220" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.135917 0 0 0 0 0 0 0 0 0 0.970833 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="16" />
        <feGaussianBlur stdDeviation="10" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.510417 0 0 0 0 0.0208333 0 0 0 0 1 0 0 0 0.95 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter12_dii" x="8" y="285" width="224" height="224" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.135917 0 0 0 0 0 0 0 0 0 0.970833 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="16" />
        <feGaussianBlur stdDeviation="10" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.510417 0 0 0 0 0.0208333 0 0 0 0 1 0 0 0 0.95 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter13_dii" x="105" y="308" width="261" height="261" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter14_dii" x="749" y="278" width="261" height="261" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter15_dii" x="493" y="434" width="277" height="277" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter16_dii" x="198" y="403" width="335" height="335" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter17_dii" x="156" y="145" width="303" height="303" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter18_dii" x="440" y="35" width="303" height="303" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.970833 0 0 0 0 0 0 0 0 0 0.466 0 0 0 0.48 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="20" />
        <feGaussianBlur stdDeviation="50" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.0208333 0 0 0 0 0.0208333 0 0 0 1 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter19_dii" x="808" y="55" width="265" height="265" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.135917 0 0 0 0 0 0 0 0 0 0.970833 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="16" />
        <feGaussianBlur stdDeviation="10" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.510417 0 0 0 0 0.0208333 0 0 0 0 1 0 0 0 0.95 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter20_dii" x="52" y="558" width="221" height="221" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.135917 0 0 0 0 0 0 0 0 0 0.970833 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="16" />
        <feGaussianBlur stdDeviation="10" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.510417 0 0 0 0 0.0208333 0 0 0 0 1 0 0 0 0.95 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <filter id="filter21_dii" x="0" y="7" width="207" height="207" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="40" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.135917 0 0 0 0 0 0 0 0 0 0.970833 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dx="10" dy="16" />
        <feGaussianBlur stdDeviation="10" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.510417 0 0 0 0 0.0208333 0 0 0 0 1 0 0 0 0.95 0" />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.58 0" />
        <feBlend mode="normal" in2="effect2_innerShadow" result="effect3_innerShadow" />
      </filter>
      <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(582 342) rotate(110.973) scale(257.029)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(582 342) rotate(110.973) scale(257.029)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(765.48 353.44) rotate(110.973) scale(123.374)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(685.352 269.656) rotate(110.973) scale(64.7714)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint4_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(461.248 206.144) rotate(110.973) scale(89.4462)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint5_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(370.24 404.72) rotate(110.973) scale(61.687)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint6_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(755.08 268.24) rotate(110.973) scale(20.5623)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint7_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(706.08 479.24) rotate(110.973) scale(20.5623)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint8_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(358.08 182.24) rotate(110.973) scale(20.5623)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint9_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(211.08 547.24) rotate(110.973) scale(20.5623)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint10_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(194.24 293.72) rotate(110.973) scale(61.687)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint11_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(933.24 501.72) rotate(110.973) scale(61.687)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint12_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(133.056 380.968) rotate(110.973) scale(65.7995)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint13_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(256.104 415.512) rotate(110.973) scale(103.84)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint14_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(900.104 385.512) rotate(110.973) scale(103.84)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint15_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(655.368 546.504) rotate(110.973) scale(120.29)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint16_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(401.2 533.6) rotate(110.973) scale(179.92)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint17_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(336.672 265.616) rotate(110.973) scale(147.021)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint18_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(620.672 155.616) rotate(110.973) scale(147.021)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint19_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(961.92 163.76) rotate(110.973) scale(107.952)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint20_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(174.944 653.032) rotate(110.973) scale(62.7151)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
      <radialGradient id="paint21_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(113.088 97.664) rotate(110.973) scale(48.3215)">
        <stop stop-color="#3244E8" />
        <stop offset="1" stop-color="#000210" stop-opacity="0" />
      </radialGradient>
    </defs>
  </svg>

</div>
