<div class="flex items-center justify-center w-full h-full relative">
  <svg xmlns="http://www.w3.org/2000/svg" class="parallax-main" preserveAspectRatio="xMidYMin meet" id="scene" data-pointer-events="true" viewBox="0 0 1226 909" fill="none">
    <g clip-path="url(#clip0)">
      <path fill-rule="evenodd" style="opacity: 0.5" data-depth="5" clip-rule="evenodd" d="M606.5 844.969C819.389 844.969 991.969 672.389 991.969 459.5C991.969 246.611 819.389 74.0307 606.5 74.0307C393.611 74.0307 221.031 246.611 221.031 459.5C221.031 672.389 393.611 844.969 606.5 844.969ZM606.5 846C819.958 846 993 672.958 993 459.5C993 246.042 819.958 73 606.5 73C393.042 73 220 246.042 220 459.5C220 672.958 393.042 846 606.5 846Z"
        fill="#252546" />
      <path fill-rule="evenodd" style="opacity: 0.5" data-depth="5" clip-rule="evenodd" d="M605.5 795.97C791.879 795.97 942.97 644.879 942.97 458.5C942.97 272.121 791.879 121.03 605.5 121.03C419.121 121.03 268.03 272.121 268.03 458.5C268.03 644.879 419.121 795.97 605.5 795.97ZM605.5 797C792.448 797 944 645.448 944 458.5C944 271.552 792.448 120 605.5 120C418.552 120 267 271.552 267 458.5C267 645.448 418.552 797 605.5 797Z"
        fill="#252546" />
      <g filter="url(#filter0_f)" data-depth="0.2">
        <path
          d="M823 515.5C823 597.514 756.514 664 674.5 664C592.486 664 526 597.514 526 515.5C526 433.486 592.486 367 674.5 367C756.514 367 823 433.486 823 515.5Z"
          fill="#020072" fill-opacity="0.53" />
      </g>
      <g filter="url(#filter1_f)" data-depth="0.6">
        <path
          d="M792 280.348C792 308.418 769.245 331.174 741.174 331.174C713.104 331.174 690.348 308.418 690.348 280.348C690.348 252.277 713.104 229.522 741.174 229.522C769.245 229.522 792 252.277 792 280.348Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter2_d)">
        <path
          d="M782.87 237.435C782.87 277.439 750.439 309.87 710.435 309.87C670.43 309.87 638 277.439 638 237.435C638 197.43 670.43 165 710.435 165C750.439 165 782.87 197.43 782.87 237.435Z"
          fill="url(#paint0_radial)" />
      </g>
      <g filter="url(#filter3_f)">
        <path
          d="M937 519.348C937 547.418 914.245 570.174 886.174 570.174C858.104 570.174 835.348 547.418 835.348 519.348C835.348 491.277 858.104 468.522 886.174 468.522C914.245 468.522 937 491.277 937 519.348Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter4_d)" data-depth="3">
        <path
          d="M927.87 476.435C927.87 516.439 895.439 548.87 855.435 548.87C815.43 548.87 783 516.439 783 476.435C783 436.43 815.43 404 855.435 404C895.439 404 927.87 436.43 927.87 476.435Z"
          fill="url(#paint1_radial)" />
      </g>
      <g filter="url(#filter5_f)">
        <path
          d="M793 683.873C793 707.205 774.086 726.118 750.755 726.118C727.424 726.118 708.51 707.205 708.51 683.873C708.51 660.542 727.424 641.628 750.755 641.628C774.086 641.628 793 660.542 793 683.873Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter6_d)" data-depth="1.8" class="animate-wiggle-2">
        <path
          d="M785.411 648.205C785.411 681.456 758.456 708.411 725.205 708.411C691.955 708.411 665 681.456 665 648.205C665 614.955 691.955 588 725.205 588C758.456 588 785.411 614.955 785.411 648.205Z"
          fill="url(#paint2_radial)" />
      </g>
      <g filter="url(#filter7_f)" data-depth="0.8" class="animate-wiggle">
        <path
          d="M364.978 531.132C364.978 549.902 349.762 565.119 330.991 565.119C312.221 565.119 297.004 549.902 297.004 531.132C297.004 512.361 312.221 497.145 330.991 497.145C349.762 497.145 364.978 512.361 364.978 531.132Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter8_d)" data-depth="0.4" class="animate-wiggle-3">
        <path
          d="M358.873 502.436C358.873 529.187 337.187 550.873 310.436 550.873C283.686 550.873 262 529.187 262 502.436C262 475.686 283.686 454 310.436 454C337.187 454 358.873 475.686 358.873 502.436Z"
          fill="url(#paint3_radial)" />
      </g>
      <g filter="url(#filter9_f)">
        <path
          d="M545.978 297.132C545.978 315.902 530.762 331.119 511.991 331.119C493.221 331.119 478.004 315.902 478.004 297.132C478.004 278.361 493.221 263.145 511.991 263.145C530.762 263.145 545.978 278.361 545.978 297.132Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter10_d)" data-depth="1.2" class="animate-wiggle">
        <path
          d="M539.873 268.436C539.873 295.187 518.187 316.873 491.436 316.873C464.686 316.873 443 295.187 443 268.436C443 241.686 464.686 220 491.436 220C518.187 220 539.873 241.686 539.873 268.436Z"
          fill="url(#paint4_radial)" />
      </g>
      <g filter="url(#filter11_f)">
        <path
          d="M823.396 382.225C823.396 395.421 812.698 406.119 799.502 406.119C786.306 406.119 775.609 395.421 775.609 382.225C775.609 369.029 786.306 358.332 799.502 358.332C812.698 358.332 823.396 369.029 823.396 382.225Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter12_d)" data-depth="0.2" class="animate-wiggle">
        <path
          d="M819.103 362.052C819.103 380.858 803.858 396.103 785.052 396.103C766.245 396.103 751 380.858 751 362.052C751 343.245 766.245 328 785.052 328C803.858 328 819.103 343.245 819.103 362.052Z"
          fill="url(#paint5_radial)" />
      </g>
      <g filter="url(#filter13_f)">
        <path
          d="M1072.69 551.908C1072.69 571.354 1056.92 587.118 1037.47 587.118C1018.03 587.118 1002.26 571.354 1002.26 551.908C1002.26 532.462 1018.03 516.698 1037.47 516.698C1056.92 516.698 1072.69 532.462 1072.69 551.908Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter14_d)" data-depth="0.8" class="animate-wiggle-2">
        <path
          d="M1066.36 522.18C1066.36 549.893 1043.89 572.36 1016.18 572.36C988.466 572.36 966 549.893 966 522.18C966 494.466 988.466 472 1016.18 472C1043.89 472 1066.36 494.466 1066.36 522.18Z"
          fill="url(#paint6_radial)" />
      </g>
      <g filter="url(#filter15_f)" data-depth="0.5" class="animate-wiggle">
        <path
          d="M288.619 630.683C288.619 636.446 283.947 641.119 278.184 641.119C272.42 641.119 267.748 636.446 267.748 630.683C267.748 624.92 272.42 620.248 278.184 620.248C283.947 620.248 288.619 624.92 288.619 630.683Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter16_d)" data-depth="0.5" class="animate-wiggle-3">
        <path
          d="M286.744 621.872C286.744 630.086 280.086 636.744 271.872 636.744C263.658 636.744 257 630.086 257 621.872C257 613.658 263.658 607 271.872 607C280.086 607 286.744 613.658 286.744 621.872Z"
          fill="url(#paint7_radial)" />
      </g>
      <g filter="url(#filter17_f)">
        <path
          d="M580.619 154.683C580.619 160.446 575.947 165.119 570.184 165.119C564.42 165.119 559.748 160.446 559.748 154.683C559.748 148.92 564.42 144.248 570.184 144.248C575.947 144.248 580.619 148.92 580.619 154.683Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter18_d)" data-depth="0.5" class="animate-bounce">
        <path
          d="M578.744 145.872C578.744 154.086 572.086 160.744 563.872 160.744C555.658 160.744 549 154.086 549 145.872C549 137.658 555.658 131 563.872 131C572.086 131 578.744 137.658 578.744 145.872Z"
          fill="url(#paint8_radial)" />
      </g>
      <g filter="url(#filter19_f)">
        <path
          d="M870.619 617.683C870.619 623.446 865.947 628.119 860.184 628.119C854.42 628.119 849.748 623.446 849.748 617.683C849.748 611.92 854.42 607.248 860.184 607.248C865.947 607.248 870.619 611.92 870.619 617.683Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter20_d)" data-depth="0.8" class="animate-wiggle-2">
        <path
          d="M868.744 608.872C868.744 617.086 862.086 623.744 853.872 623.744C845.658 623.744 839 617.086 839 608.872C839 600.658 845.658 594 853.872 594C862.086 594 868.744 600.658 868.744 608.872Z"
          fill="url(#paint9_radial)" />
      </g>
      <g filter="url(#filter21_f)">
        <path
          d="M891.619 305.683C891.619 311.446 886.947 316.119 881.184 316.119C875.42 316.119 870.748 311.446 870.748 305.683C870.748 299.92 875.42 295.248 881.184 295.248C886.947 295.248 891.619 299.92 891.619 305.683Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter22_d)" data-depth="0.4" class="animate-wiggle-2">
        <path
          d="M889.744 296.872C889.744 305.086 883.086 311.744 874.872 311.744C866.658 311.744 860 305.086 860 296.872C860 288.658 866.658 282 874.872 282C883.086 282 889.744 288.658 889.744 296.872Z"
          fill="url(#paint10_radial)" />
      </g>
      <g filter="url(#filter23_f)">
        <path
          d="M447.055 509.978C447.055 521.653 437.59 531.118 425.914 531.118C414.238 531.118 404.773 521.653 404.773 509.978C404.773 498.302 414.238 488.837 425.914 488.837C437.59 488.837 447.055 498.302 447.055 509.978Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter24_d)" data-depth="1.4" class="animate-wiggle">
        <path
          d="M443.257 492.129C443.257 508.768 429.768 522.257 413.129 522.257C396.489 522.257 383 508.768 383 492.129C383 475.489 396.489 462 413.129 462C429.768 462 443.257 475.489 443.257 492.129Z"
          fill="url(#paint11_radial)" />
      </g>
      <g filter="url(#filter25_f)">
        <path
          d="M410.619 391.309C410.619 419.857 387.477 443 358.929 443C330.381 443 307.238 419.857 307.238 391.309C307.238 362.762 330.381 339.619 358.929 339.619C387.477 339.619 410.619 362.762 410.619 391.309Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter26_d)" data-depth="3">
        <path
          d="M401.333 347.667C401.333 388.352 368.352 421.333 327.667 421.333C286.982 421.333 254 388.352 254 347.667C254 306.982 286.982 274 327.667 274C368.352 274 401.333 306.982 401.333 347.667Z"
          fill="url(#paint12_radial)" />
      </g>
      <g filter="url(#filter27_f)">
        <path
          d="M751 524C751 592.483 695.483 648 627 648C558.517 648 503 592.483 503 524C503 455.517 558.517 400 627 400C695.483 400 751 455.517 751 524Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter28_d)" data-depth="3">
        <path
          d="M725.41 448.205C725.41 520.668 666.668 579.41 594.205 579.41C521.743 579.41 463 520.668 463 448.205C463 375.743 521.743 317 594.205 317C666.668 317 725.41 375.743 725.41 448.205Z"
          fill="url(#paint13_radial)" />
      </g>
      <g filter="url(#filter29_f)">
        <path
          d="M506.594 707.267C506.594 740.184 479.909 766.87 446.991 766.87C414.073 766.87 387.388 740.184 387.388 707.267C387.388 674.349 414.073 647.664 446.991 647.664C479.909 647.664 506.594 674.349 506.594 707.267Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter30_d)" data-depth="3">
        <path
          d="M495.886 656.943C495.886 703.856 457.856 741.886 410.943 741.886C364.03 741.886 326 703.856 326 656.943C326 610.03 364.03 572 410.943 572C457.856 572 495.886 610.03 495.886 656.943Z"
          fill="url(#paint14_radial)" />
      </g>
      <g filter="url(#filter31_f)">
        <path
          d="M126.609 547.004C123.593 558.367 111.936 565.133 100.574 562.116C89.211 559.1 82.4452 547.443 85.4618 536.08C88.4784 524.718 100.135 517.952 111.498 520.969C122.86 523.985 129.626 535.642 126.609 547.004Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter32_d)" data-depth="0.8" class="animate-bounce">
        <path
          d="M172.236 487.653C167.937 503.846 151.324 513.488 135.131 509.189C118.937 504.89 109.295 488.278 113.594 472.084C117.893 455.891 134.506 446.249 150.699 450.548C166.893 454.847 176.535 471.459 172.236 487.653Z"
          fill="url(#paint15_radial)" />
      </g>
      <g filter="url(#filter33_f)">
        <path
          d="M189.609 449.004C186.593 460.367 174.936 467.133 163.574 464.116C152.211 461.1 145.445 449.443 148.462 438.08C151.478 426.718 163.135 419.952 174.498 422.969C185.86 425.985 192.626 437.642 189.609 449.004Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter34_d)" data-depth="0.2" class="animate-wiggle-3">
        <path
          d="M235.236 389.653C230.937 405.846 214.324 415.488 198.131 411.189C181.937 406.89 172.295 390.278 176.594 374.084C180.893 357.891 197.506 348.249 213.699 352.548C229.893 356.847 239.535 373.459 235.236 389.653Z"
          fill="url(#paint16_radial)" />
      </g>
      <g filter="url(#filter35_f)">
        <path
          d="M249.609 831.004C246.593 842.367 234.936 849.133 223.574 846.116C212.211 843.1 205.445 831.443 208.462 820.08C211.478 808.718 223.135 801.952 234.498 804.969C245.86 807.985 252.626 819.642 249.609 831.004Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter36_d)" data-depth="1.4" class="animate-wiggle-2">
        <path
          d="M295.236 770.365C290.937 786.559 274.325 796.201 258.131 791.902C241.938 787.603 232.296 770.99 236.595 754.797C240.894 738.603 257.506 728.961 273.7 733.26C289.893 737.559 299.535 754.172 295.236 770.365Z"
          fill="url(#paint17_radial)" />
      </g>
      <g filter="url(#filter37_f)">
        <path
          d="M215.578 178.567C213.081 187.971 203.433 193.571 194.028 191.074C184.624 188.578 179.024 178.929 181.521 169.525C184.017 160.12 193.666 154.52 203.07 157.017C212.475 159.514 218.075 169.162 215.578 178.567Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter38_d)" data-depth="0.2" class="animate-wiggle">
        <path
          d="M253.343 128.154C249.784 141.557 236.034 149.538 222.631 145.98C209.228 142.421 201.247 128.672 204.806 115.268C208.364 101.865 222.114 93.8846 235.517 97.4429C248.92 101.001 256.901 114.751 253.343 128.154Z"
          fill="url(#paint18_radial)" />
      </g>
      <g filter="url(#filter39_f)">
        <path
          d="M1040.51 391.279C1036.07 407.98 1018.94 417.924 1002.24 413.49C985.539 409.056 975.594 391.923 980.028 375.222C984.462 358.521 1001.6 348.576 1018.3 353.01C1035 357.444 1044.94 374.577 1040.51 391.279Z"
          fill="#1C11E2" fill-opacity="0.49" />
      </g>
      <g filter="url(#filter40_d)" data-depth="0.6" class="animate-bounce-2">
        <path
          d="M1107.57 304.041C1101.25 327.843 1076.84 342.016 1053.03 335.697C1029.23 329.378 1015.06 304.96 1021.38 281.158C1027.7 257.357 1052.12 243.184 1075.92 249.503C1099.72 255.822 1113.89 280.24 1107.57 304.041Z"
          fill="url(#paint19_radial)" />
      </g>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
        letter-spacing="0.44px">
        <tspan x="570" y="426.207" id="crypto-name-1"></tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="24"
        font-weight="bold" letter-spacing="0.15px">
        <tspan x="544.52" y="461.311" id="crypto-cap-1"></tspan>
      </text>
      <text fill="#B1B1FF" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
        letter-spacing="0.44px">
        <tspan x="560" y="487.431">Market Cap</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="20"
        font-weight="bold" letter-spacing="0.15px">
        <tspan x="377.372" y="675.759" id="totalBorrow">$32,982</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="16"
        letter-spacing="0.44px">
        <tspan x="365.096" y="649.207">Total borrow</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="20"
        font-weight="bold" letter-spacing="0.44px">
        <tspan x="666.185" y="254.759" id="borrowAmount">$23,657</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
        letter-spacing="0.4px">
        <tspan x="666.028" y="229.431" data-credits-name="">Total credits</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="24"
        font-weight="bold" letter-spacing="0.44px">
        <tspan x="812.067" y="494.311" id="depositsAmount">$21,987</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
        letter-spacing="0.4px">
        <tspan x="811.154" y="467.431">Total deposits</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="24"
        font-weight="bold" letter-spacing="0.44px">
        <tspan x="287.142" y="364.311" id="usersAmount">31,657</tspan>
      </text>
      <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="14"
        letter-spacing="0.4px">
        <tspan x="289.159" y="337.431">Total users</tspan>
      </text>
    </g>
    <defs>
      <filter id="filter0_f" x="386" y="227" width="577" height="577" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="70" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter1_f" x="562.348" y="101.522" width="357.652" height="357.652" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter2_d" x="594" y="121" width="232.87" height="232.87" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter3_f" x="707.348" y="340.522" width="357.652" height="357.652" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter4_d" x="739" y="360" width="232.87" height="232.87" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter5_f" x="580.51" y="513.628" width="340.49" height="340.49" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter6_d" x="621" y="544" width="208.411" height="208.411" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter7_f" x="169.004" y="369.145" width="323.974" height="323.974" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter8_d" x="218" y="410" width="184.873" height="184.873" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter9_f" x="350.004" y="135.145" width="323.974" height="323.974" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter10_d" x="399" y="176" width="184.873" height="184.873" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter11_f" x="647.609" y="230.332" width="303.787" height="303.787" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter12_d" x="707" y="284" width="156.103" height="156.103" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter13_f" x="874.265" y="388.698" width="326.42" height="326.42" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter14_d" x="922" y="428" width="188.36" height="188.36" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter15_f" x="139.748" y="492.248" width="276.871" height="276.871" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter16_d" x="213" y="563" width="117.744" height="117.744" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter17_f" x="431.748" y="16.2476" width="276.871" height="276.871" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter18_d" x="505" y="87" width="117.744" height="117.744" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter19_f" x="721.748" y="479.248" width="276.871" height="276.871" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter20_d" x="795" y="550" width="117.744" height="117.744" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter21_f" x="742.748" y="167.248" width="276.871" height="276.871" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter22_d" x="816" y="238" width="117.744" height="117.744" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter23_f" x="276.773" y="360.837" width="298.281" height="298.281" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter24_d" x="339" y="418" width="148.257" height="148.257" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter25_f" x="179.238" y="211.619" width="359.381" height="359.381" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter26_d" x="210" y="230" width="235.333" height="235.333" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter27_f" x="375" y="272" width="504" height="504" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter28_d" x="391" y="245" width="406.41" height="406.41" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="36" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter29_f" x="259.388" y="519.664" width="375.206" height="375.206" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter30_d" x="254" y="500" width="313.886" height="313.886" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="36" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.883333 0 0 0 0 0.06625 0 0 0 0 0.06625 0 0 0 0.88 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter31_f" x="-48" y="387.507" width="308.072" height="308.072" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter32_d" x="68.5708" y="405.524" width="148.688" height="148.688" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.0479167 0 0 0 0 0.479167 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter33_f" x="15" y="289.507" width="308.072" height="308.072" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter34_d" x="131.571" y="307.524" width="148.688" height="148.688" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.0479167 0 0 0 0 0.479167 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter35_f" x="75" y="671.507" width="308.072" height="308.072" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter36_d" x="191.571" y="688.237" width="148.688" height="148.688" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.0982767 0 0 0 0 0 0 0 0 0 0.433333 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter37_f" x="52.9263" y="28.4226" width="291.246" height="291.246" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter38_d" x="159.959" y="52.5959" width="138.231" height="138.231" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.0982767 0 0 0 0 0 0 0 0 0 0.433333 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <filter id="filter39_f" x="850.973" y="223.955" width="318.591" height="318.591" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="64" result="effect1_foregroundBlur" />
      </filter>
      <filter id="filter40_d" x="975.875" y="203.999" width="177.201" height="177.201" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset />
        <feGaussianBlur stdDeviation="22" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.0982767 0 0 0 0 0 0 0 0 0 0.433333 0 0 0 1 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
      <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(718.652 231.957) rotate(99.9697) scale(79.1076)">
        <stop offset="0.078125" stop-color="#000EFF" stop-opacity="0.68" />
        <stop offset="0.202833" stop-color="#3912C0" stop-opacity="0.83" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(863.652 470.957) rotate(99.9697) scale(79.1076)">
        <stop offset="0.078125" stop-color="#000EFF" stop-opacity="0.51" />
        <stop offset="0.362909" stop-color="#3912C0" stop-opacity="0.6" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(733 648) rotate(101.552) scale(61.66)">
        <stop offset="0.0260417" stop-color="#9E0000" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(316.707 502.271) rotate(101.552) scale(49.6064)">
        <stop offset="0.0260417" stop-color="#9E0000" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint4_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(497.707 268.271) rotate(101.552) scale(49.6064)">
        <stop offset="0.0260417" stop-color="#9E0000" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint5_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(789.46 361.935) rotate(101.552) scale(34.8743)">
        <stop offset="0.0260417" stop-color="#9E0000" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint6_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(1027 535.5) rotate(121.176) scale(69.5431)">
        <stop offset="0.0167075" stop-color="#20008B" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint7_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(273.559 620.747) rotate(99.9697) scale(16.2422)">
        <stop stop-color="#E13D3D" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint8_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(565.559 144.747) rotate(99.9697) scale(16.2422)">
        <stop stop-color="#E13D3D" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint9_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(855.559 607.747) rotate(99.9697) scale(16.2422)">
        <stop stop-color="#E13D3D" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint10_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(876.559 295.747) rotate(99.9697) scale(16.2422)">
        <stop stop-color="#E13D3D" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint11_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(416.547 489.85) rotate(99.9697) scale(32.9041)">
        <stop stop-color="#000EFF" />
        <stop offset="0.0001" stop-color="#3912C0" stop-opacity="0.6" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint12_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(334.64 347.648) rotate(99.662) scale(74.7453)">
        <stop offset="0.078125" stop-color="#000EFF" stop-opacity="0.68" />
        <stop offset="0.367389" stop-color="#3912C0" stop-opacity="0.83" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint13_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(611 467) rotate(110.966) scale(171.879)">
        <stop offset="0.0542042" stop-color="#000787" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint14_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(420.58 650.519) rotate(100.903) scale(103.392)">
        <stop offset="0.078125" stop-color="#0510DC" />
        <stop offset="0.48458" stop-color="#4918B2" />
        <stop offset="0.947917" stop-color="#C01F3F" />
        <stop offset="0.948017" stop-color="#C01F3F" />
      </radialGradient>
      <radialGradient id="paint15_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(148.26 485.294) rotate(119.014) scale(37.5807)">
        <stop offset="0.078125" stop-color="#363DE2" />
        <stop offset="0.296224" stop-color="#222EB7" />
        <stop offset="1" stop-color="#14098B" />
      </radialGradient>
      <radialGradient id="paint16_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(211.26 387.294) rotate(119.014) scale(37.5807)">
        <stop offset="0.078125" stop-color="#363DE2" />
        <stop offset="0.296224" stop-color="#222EB7" />
        <stop offset="1" stop-color="#14098B" />
      </radialGradient>
      <radialGradient id="paint17_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(271.261 768.007) rotate(119.014) scale(37.5807)">
        <stop offset="0.078125" stop-color="#363DE2" />
        <stop offset="0.296224" stop-color="#222EB7" />
        <stop offset="1" stop-color="#14098B" />
      </radialGradient>
      <radialGradient id="paint18_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(233.498 126.202) rotate(119.014) scale(31.1051)">
        <stop offset="0.078125" stop-color="#363DE2" />
        <stop offset="0.296224" stop-color="#222EB7" />
        <stop offset="1" stop-color="#14098B" />
      </radialGradient>
      <radialGradient id="paint19_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(1072.33 300.575) rotate(119.014) scale(55.2375)">
        <stop offset="0.078125" stop-color="#363DE2" />
        <stop offset="0.296224" stop-color="#222EB7" />
        <stop offset="1" stop-color="#14098B" />
      </radialGradient>
      <clipPath id="clip0">
        <rect width="1226" height="909" fill="white" />
      </clipPath>
    </defs>
  </svg>
</div>
