<div class="main">
  <div class="wrapper">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/borrow.svg" class="w-full h-full" alt="#">
      </div>
      <div class="main-title">Borrow</div>
    </div>
    <!-- <div class="btn ml-auto" onclick="modal_add_credit.show()">
      Open New Credit
    </div> -->
  </div>
  <div class="main-row">
    <div class="main-row__title">
      My credits
    </div>
    <div class="address-info">
      Connected address:
      <span class="current-wallet">
      </span>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="w-full flex filled flex-col">
    <div class="overflow-x-auto">
      <div class="table-align">
        <div class="overflow-hidden">

          <div id="my_credits"></div>
          <span style="display: inline; font-size: 60%; "><sup>*</sup> Effective current credit APR, based on all conditions, incl. Leverage</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="empty-borrow">
  <div class="flex flex-col">
    <div class="w-48 h-35 mb-8 mx-auto">
      <img src="../images/empty.svg" class="w-full h-full" alt="#">
    </div>
    <div class="empty-error__msg">
      You dont have any credits yet.
    </div>
    <div class="empty-access__text">
      When you open your first credit you will
      see all usefull data.
    </div>
  </div>
</div>
