<div class="flex items-center mb-9">
  <div class="flex items-center">
    <div class="w-6 h-6 mr-4 ml-2">
      <img src="../images/dashboard.svg" class="w-full h-full" alt="#">
    </div>
    <div class="main-title">Dashboard</div>
  </div>
</div>
<div class="main-col">
  <div class="stat-col">
    <div class="circle">
      <img src="../images/circle-chart.svg" class="w-full h-full" alt="">
    </div>
   
    <div class="crypto-col">
      <div class="crypto-title">
        Top 5 Cryptos market cap
      </div>
      <div class="flex items-center">
        <div id="dashboard-market-cap">
          
        </div>
      </div>
      <div class="compared">
        Compared to last day 
        <div class="current-state up">
          <span id="dashboard-market-compared"></span>
        </div>
      </div>
    </div>
    <!-- <div class="assets-diagram__block">
    </div> -->
    
  </div>
  <div id="market-top-five-list">
  </div>
</div>
