<div class="main">
  <div class="wrapper">
    <div class="flex items-center">
      <div class="w-6 h-6 mr-4">
        <img src="../images/deposit.svg" class="w-full h-full" alt="#">
      </div>
      <div class="main-title">My Deposits</div>
    </div>
    <!-- <div class="btn ml-auto" onclick="modal_add_deposit.show()">
      Open New Deposit
    </div> -->
  </div>
  <div class="main-row">
    <div class="main-row__title">
      All deposits
    </div>
    <div class="address-info">
      Connected address:
      <span class="current-wallet">
      </span>
    </div>
  </div>

  <!-- Deposit table -->

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="table-align">
        <div class="overflow-hidden">

          <div id="tokens_balance"></div>

        </div>
      </div>
    </div>
  </div>

</div>
