<div class="copyright">
  <div class="copyright-start">
    <div class="copyright-icon">
      <img src="../images/info.svg" class="w-full h-full" alt="#">
    </div>
    <div class="copyright-common copyright-text copyright-width">
     * Expected value, based on current system state shown: effective APY depends also on asset usage data, effective
      APR depends on collateral and credit asset and asset usage data.
    </div>
    <div class="copyright-credit copyright-text copyright-width">
      * Effective current credit APR, based on all condition, inc. Leverage
    </div>
  </div>
</div>
