<div class="crypto-info crypto-info__borrow">
  <div class="flex flex-col">
    <div class="crypto-info__diagram">

    </div>
    <div class="crypto-info__data crypto-info__credit">
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            In wallet
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            9700.00
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Deposit
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            288.8456
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Collateral
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data table-collateral">
            ST1: 20.0000
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Duration days
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            0
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Current yield
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            0.1643
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Current yield
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            0.1643
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Current yield
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            0.1643
          </div>
        </div>
      </div>
      <div class="crypto-info__row">
        <div class="w-1/2">
          <div class="table-name">
            Current yield deded
          </div>
        </div>
        <div class="w-1/2">
          <div class="table-data">
            0.1643
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-row">
    <div class="table-btn" onclick="openTab(event,'leverage'); show_modal_leverage()">
      <i class="icon-cell">
        <img src="/images/price-tag.svg"  class="w-full h-full" alt="#">
      </i>
      Leverage
    </div>
    <div class="table-btn" onclick="openTab(event,'unfreeze');">
      <i class="icon-cell">
        <img src="/images/discount.svg"  class="w-full h-full" alt="#">
      </i>
      Unfreeze
    </div>
    <div class="table-btn" onclick="openTab(event,'repay_borrow'); return_credit()">
      <i class="icon-cell">
        <img src="/images/money.svg"  class="w-full h-full" alt="#">
      </i>
      Repay borrow
    </div>
  </div>
</div>
