<div class="d-flex flex-col">
  <div class="category-name">
    My credits
  </div>
  <div class="stat-block" id="my_credits">

  </div>
  <div class="empty-access">
    <div class="h-full flex flex-col justify-center">
      <div class="empty-access__body">
        <div class="w-48 h-35 mb-8 mx-auto">
          <img src="../images/empty.svg" class="w-full h-full" alt="#">
        </div>
        <div id="empty-error__msg">
          You dont have any credits yet.
        </div>
        <div class="max-w-sm text-lg text-faux mx-auto">
          When you open your first credit you will see all usefull data.
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-btn mt-2">
    <button type="submit" onclick="openTab(event,'new-credit-tab', modal_add_credit.show());"
      class="open-new-deposit btn">Open New Credit</button>
  </div>
</div>
