<div class="category pb-6">
  <div class="category-page__name">
    <span class="crypto-logo hidden">
      <img src="./images/crypto-icons/icon-etna.png" alt="#">
    </span>
    <div>
      <div data-tab="dashboard-tab" class="">Deposits</div>
      <div data-tab="borrow-tab" class="hidden">Borrow</div>
      <div data-tab="liq-earn-tab" class="hidden">Liquidity-Earn</div>
      <div data-tab="new-deposit-tab" class="hidden">Open New Deposit</div>
      <div data-tab="new-credit-tab" class="hidden">Open New Credit</div>
      <div data-tab="add-liquidity-tab" class="hidden">Add liquidity</div>
      <div data-tab="withdraw_deposit-tab" class="hidden">Withdraw deposit</div>
      <div data-tab="withdraw_reward-tab" class="hidden">Withdraw Yield</div>
      <div data-tab="repay-fee-tab" class="hidden">Return fee</div>
      <div data-tab="repay-borrow-tab" class="hidden">Return credit body</div>
      <div data-tab="set-leverage-tab" class="hidden">Set Leverage</div>
      <div data-tab="unfreeze-tab" class="hidden">Unfreeze</div>
      <div data-tab="crypto-info" id="crypto-info-header" class="crypto-info__header hidden">
      </div>
    </div>
  </div>
</div>
