<div class="d-flex flex-col">
  <div class="category-name">
    All deposits
  </div>
  <div class="stat-block" id="tokens_balance">

  </div>
  <div class="empty-access">
    <div class="h-full flex flex-col justify-center">
      <div class="empty-access__body">
        <div class="w-48 h-35 mb-8 mx-auto">
          <img src="../images/empty.svg" class="w-full h-full" alt="#">
        </div>
        <div id="empty-error__msg">
        </div>
        <div class="max-w-sm text-lg text-faux mx-auto">
          Please, reload your page and try one more time
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="fixed-btn mt-2">
    <button type="submit" class="open-new-deposit btn"  onclick="openTab(event,'new-deposit-tab', modal_add_deposit.show())">Open New Deposit</button>
  </div> -->
</div>
