<div class="d-flex flex-col">
  <div class="category-name">
    All deposits
  </div>
  <div class="stat-block">
    <a href="/crypto-page.html" class="stat-row stat-row__red">
      <div class="w-2/12">
        <div class="stat-row__icon">
          <img src="./images/crypto-icons/icon-bnb.svg" alt="#">
        </div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col ml-5 h-full">
          <div class="crypto-name crypto-style">
            Bnb
          </div>
          <div class="crypto-stat crypto-stat__name">
            +1,6%
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="crypto-chart chart-bnb"></div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col h-full text-right">
          <div class="crypto-amount crypto-style">
            $29,850.15
          </div>
          <div class="crypto-collateral crypto-stat__name">
            15.73 bnb
          </div>
        </div>
      </div>
    </a>
    <a href="/crypto-page.html" class="stat-row stat-row__blue">
      <div class="w-2/12">
        <div class="stat-row__icon px-5 py-4 rounded-2xl bg-red bg-opacity-10">
          <img src="./images/crypto-icons/icon-st.svg" alt="#">
        </div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col ml-5 h-full">
          <div class="crypto-name crypto-style">
            st1
          </div>
          <div class="crypto-stat crypto-stat__name">
            -0,82%
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="crypto-chart chart-st1"></div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col h-full text-right">
          <div class="crypto-amount crypto-style">
            $10,561.24
          </div>
          <div class="crypto-collateral crypto-stat__name">
            47.61 <span>ST1</span>
          </div>
        </div>
      </div>
    </a>
    <a href="/crypto-page.html" class="stat-row stat-row__green">
      <div class="w-2/12">
        <div class="stat-row__icon px-5 py-4 rounded-2xl bg-red bg-opacity-10">
          <img src="./images/crypto-icons/icon-st.svg" alt="#">
        </div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col ml-5 h-full">
          <div class="crypto-name crypto-style">
            St2
          </div>
          <div class="crypto-stat crypto-stat__name">
            +0,27%
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="crypto-chart chart-st2"></div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col h-full text-right">
          <div class="crypto-amount crypto-style">
            $5,241.62
          </div>
          <div class="crypto-collateral crypto-stat__name">
            16447,65 <span>ST3</span>
          </div>
        </div>
      </div>
    </a>
    <a href="/crypto-page.html" class="stat-row stat-row__white">
      <div class="w-2/12">
        <div class="stat-row__icon px-5 py-4 rounded-2xl bg-red bg-opacity-10">
          <img src="./images/crypto-icons/icon-st.svg" alt="#">
        </div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col ml-5 h-full">
          <div class="crypto-name crypto-style">
            St3
          </div>
          <div class="crypto-stat crypto-stat__name">
            -2,1%
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="crypto-chart chart-st3"></div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col h-full text-right">
          <div class="crypto-amount crypto-style">
            $5,241.62
          </div>
          <div class="crypto-collateral crypto-stat__name">
            16447,65 <span>st3</span>
          </div>
        </div>
      </div>
    </a>
    <a href="/crypto-page.html" class="stat-row stat-row__light-green">
      <div class="w-2/12">
        <div class="stat-row__icon px-5 py-4 rounded-2xl bg-red bg-opacity-10">
          <img src="./images/crypto-icons/icon-etna.png" alt="#">
        </div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col ml-5 h-full">
          <div class="crypto-name crypto-style">
            Etna
          </div>
          <div class="crypto-stat crypto-stat__name">
            +0,27%
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="crypto-chart chart-etna"></div>
      </div>
      <div class="w-3/12">
        <div class="flex flex-col h-full text-right">
          <div class="crypto-amount crypto-style">
            $15,241.62
          </div>
          <div class="crypto-collateral crypto-stat__name">
            23447,65 <span>ETNA</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="fixed-btn mt-2">
    <button type="submit" class="open-new-deposit btn">Open New Deposit</button>
  </div>
</div>
