<div class="d-flex flex-col">
  <div class="category-name">
    My liquidity pools
  </div>
  <div class="stat-block" id="deposits_uniswap">

  </div>
  <div class="empty-access">
    <div class="h-full flex flex-col justify-center">
      <div class="empty-access__body">
        <div class="w-48 h-35 mb-8 mx-auto">
          <img src="../images/empty.svg" class="w-full h-full" alt="#">
        </div>
        <div id="empty-error__msg">
          You dont have any liquidity yet.
        </div>
        <div class="max-w-sm text-lg text-faux mx-auto">
          When you open your first liquidity you will see all usefull data.
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-btn mt-2 bg-black-mobile pt-3">
    <button type="submit" class="btn mb-3" onclick="openTab(event,'add-liquidity-tab', modal_add_lliquidity.show())">Add
      liquidity</button>
    <div class="table-btn link-dropdown mb-0 relative" onclick="toggleElement('pancakeswapList', event)">
      Go to pool at Pancakeswap
      <span class="link-dropdown__arrow">
        <img src="./images/select-arrow.svg" alt="#">
      </span>
    </div>
    <div class="links-list" id="pancakeswapList">
      <a href="https://exchange.pancakeswap.finance/#/add/BNB/0x51F35073FF7cF54c9e86b7042E59A8cC9709FC46"
        class="links-list__item">BNB-ETNA
        <span class="links-icon">
          <img src="./images/external-link.svg" alt="#">
        </span>
      </a>
      <a href="https://exchange.pancakeswap.finance/#/add/0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56/0x51F35073FF7cF54c9e86b7042E59A8cC9709FC46"
        class="links-list__item">BUSD-ETNA
        <span class="links-icon">
          <img src="./images/external-link.svg" alt="#">
        </span>
      </a>
      <a href="https://exchange.pancakeswap.finance/#/add/0x2170Ed0880ac9A755fd29B2688956BD959F933F8/0x51F35073FF7cF54c9e86b7042E59A8cC9709FC46"
        class="links-list__item">ETH-ETNA
        <span class="links-icon">
          <img src="./images/external-link.svg" alt="#">
        </span>
      </a>
      <a href="https://exchange.pancakeswap.finance/#/add/0x7130d2A12B9BCbFAe4f2634d864A1Ee1Ce3Ead9c/0x51F35073FF7cF54c9e86b7042E59A8cC9709FC46"
        class="links-list__item">BTC-ETNA
        <span class="links-icon">
          <img src="./images/external-link.svg" alt="#">
        </span>
      </a>
    </div>
  </div>
</div>
