<div class="flex flex-col h-full" id="modal-withdraw-deposit">
  <div class="connected-wallet">
    <div class="connected-wallet__img">
      <img src="./images/wallet.svg" alt="#" />
    </div>
    <div class="flex flex-col">
      <div class="connected-wallet__title">Connected wallet:</div>
      <div class="connected-wallet__numb">
        0x6cea79e4d4dea3461b4d8452c911db1aa22
      </div>
    </div>
  </div>

  <div class="tabs-block">
    <div class="flex flex-col mb-11">
      <div class="name-field mb-1">Do you confirm to withdraw all yield?</div>
    </div>
  </div>

  <div class="btn-row">
    <button type="submit" id="withraw_rew_confirm" data-id="confirm" class="btn">
      Confirm
    </button>
  </div>
</div>
