/* ./src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@layer components {
  .nav-link {
    @apply py-3.5 px-3 mr-4 border-b-2 flex items-center text-gray-300 text-sm border-transparent hover:text-white whitespace-nowrap font-medium cursor-pointer;
  }

  .nav-link.active {
    @apply border-green;
  }

  .page.active {
    @apply block;
  }

  .page {
    @apply hidden;
  }

  .btn {
    @apply py-2 px-3 text-sm cursor-pointer flex items-center justify-center shadow-sm rounded-md bg-gradient-to-r from-light-blue to-dark-blue hover:from-navy transition-all hover:to-navy focus:from-light-blue focus:to-dark-blue disabled:from-primrose disabled:to-primrose disabled:text-light-violet focus:ring-2 focus:ring-violet focus:outline-none focus:ring-offset-2 focus:ring-offset-black w-max h-9;
  }

  .btn.btn-done {
    @apply from-medium-blue to-medium-blue;
  }

  .table-title {
    @apply py-1 px-5 tracking-wider text-primary-gray text-left text-xs font-medium hover:text-white transition-all cursor-default;
  }

  .table-cell {
    @apply p-4 px-5 whitespace-nowrap text-sm font-normal text-white flex items-center justify-start truncate h-14;
  }

  .table-row {
    @apply bg-blueish-black mb-3 rounded-lg;
  }

  .table-btn {
    @apply py-2 px-3 shadow-sm rounded-md border border-light-violet flex items-center max-w-max cursor-pointer;
  }

  .up {
    @apply text-electric-green tracking-wider;
  }
  .modal {
    @apply flex items-center justify-center w-full h-screen opacity-0 top-0 left-0 fixed;
  }
  .modal-exit__bg {
    @apply w-full h-full bg-black bg-opacity-70 absolute;
  }
  .pop-up {
    @apply max-w-460 w-full flex flex-col rounded-xl border border-light-grey bg-blueish-black relative shadow;
  }
  .input-type {
    @apply border-medium-grey border text-sm rounded-lg w-full h-11 bg-blueish-black focus:outline-none py-3 px-4;
  }
  .btn-checked {
    @apply text-center flex items-center justify-center h-9 w-full text-gray-500 text-sm cursor-pointer;
  }
  input:checked + label {
    @apply rounded-md bg-green bg-opacity-10 text-green;
  }
  .icon-cell {
    @apply flex items-center justify-center w-4 h-5 mr-2;
  }
  .crypto-icon {
    @apply flex items-center justify-center w-5 h-5 mr-2;
  }
  .main-row {
    @apply flex items-center justify-between w-full mb-5;
  }
  .address-info {
    @apply leading-6 font-medium text-base text-right;
  }
  .wrapper {
    @apply flex items-center justify-between mx-2 mb-9;
  }
  .static-data {
    @apply text-white mr-4 text-center tracking-wider font-normal text-sm text-opacity-50;
  }
  .static {
    @apply text-white text-center tracking-wider font-normal text-sm;
  }
  .static-name {
    @apply text-left tracking-wider font-normal text-sm;
  }
  .up-info {
    @apply flex items-center justify-center up;
  }
  .modal-top {
    @apply flex items-center justify-between p-5 w-full h-auto;
  }
  .modal-close {
    @apply w-6 h-6 flex items-center justify-center cursor-pointer focus:outline-none;
  }
  .name-field {
    @apply text-sm text-grey-100 font-medium mb-1;
  }
  .field-info {
    @apply py-3 px-4 text-sm flex items-center border-l border-light-grey justify-center;
  }
  .top-divider {
    @apply flex flex-col p-5 border-light-grey border-t;
  }
  .page {
    @apply w-full;
  }
  .notif-block {
    @apply h-auto px-5 pt-5 pb-4 bg-blueish-black flex flex-col rounded-xl border border-light-grey shadow absolute right-5 top-9 flex w-80;
  }
  .notif-amount {
    @apply text-8 absolute -right-1 top-0.5 w-3 h-3 flex items-center justify-center bg-green-medium rounded-full;
  }
  .notif {
    @apply bg-gray-800 rounded-full relative w-8 h-8 flex items-center justify-center mr-5 cursor-pointer;
  }
  .social-icon svg {
    @apply pointer-events-none;
  }
  .social-icon {
    @apply mr-4 w-6 h-6 rounded-full bg-violet transition-all hover:bg-white flex items-center justify-center;
  }
  .notif-row {
    @apply mb-6 flex items-center justify-between py-4 px-5 border-l-4 rounded-md border-green-3;
  }
  .notif-row.warning {
    @apply border-yellow-400;
  }
  .notif-row.error {
    @apply border-red;
  }
  .close-icon {
    @apply w-5 h-5 flex items-center justify-center cursor-pointer;
  }
  .info-block__popup {
    @apply absolute bottom-8 left-5/6 text-gray-700 text-sm py-3 px-4 bg-white rounded-md shadow w-44 h-auto transition-all;
  }
}

.info-block__popup {
  display: none;
}

.info-block:hover .info-block__popup {
  display: block;
}

.if-credit {
  display: none;
}

#p3.active~.if-credit {
  display: block;
}

#p3.active~.if-depos {
  display: none;
}

.empty-borrow {
  display: none;
}

.empty .empty-borrow {
  display: flex;
}

.empty .filled {
  display: none;
}

.empty .address-info {
  display: none;
}

.js-Dropdown {
  display: inline-block;
  position: relative;
  width: 262px;
}

.js-Dropdown-title {
  background: transparent;
  background: #191932;
  border: 1px solid #5A5A89;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  height: 38px;
  padding: 8px 12px;
  position: relative;
  text-align: left;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.js-Dropdown-title .li-link{
  display: none;
}

.js-Dropdown-title .dropdown-link {
  margin-right: 10px;
}

.li-link {
  width: 10px;
  height: 10px;
}

.btn-link {
  width: 16px;
  height: 16px;
}

.js-Dropdown-list .btn-link{
  display: none;
}

.js-Dropdown-list .dropdown-text {
  font-weight: 400;
  order: 1;
}

.js-Dropdown-list .dropdown-link {
  order: 2;
}

.js-Dropdown-title:focus {
  outline: none;
}

.js-Dropdown-title:after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/icon-down.svg');
  height: 6px;
  width: 10px;
  position: absolute;
  right: 16px;
  top: calc(50% - 3px);
}

.js-Dropdown-title.is-active:after {
  transform: rotate(180deg);
}

.js-Dropdown-list {
  background: #191932;
  border: 1px solid #5A5A89;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  box-sizing: border-box;
  display: none;
  height: 0;
  padding: 4px 0px;
  list-style: none;
  margin-top: 4px;
  position: absolute;
  transition: 0.2s linear;
  width: 100%;
  z-index: 999;
}

.js-Dropdown-list.is-open {
  display: block;
  height: auto;
  opacity: 1;
}

.js-Dropdown-list li {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: #191932;
  color: #fff;
  transition: background 0.35s;
}

.js-Dropdown-list li:hover {
  background-color: #5A5A89;
}

.js-Dropdown-list li .flex {
  justify-content: space-between;
}

.js-Dropdown-list li:first-child {
  border-left-top-radius: 6px;
  border-right-top-radius: 6px;
}

.js-Dropdown-list li:last-child {
  border-left-bottom-radius: 6px;
  border-right-bottom-radius: 6px;
}

.modal {
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.without-link .dropdown-link {
  display: none!important;
}

.without-link .js-Dropdown {
  width: 100%;
  height: 100%
}

.without-link .js-Dropdown-title {
  border: 0px;
  height: 100%;
}

.special-select .js-Dropdown-list {
  width: 50%;
  right: 0px;
}

.special-select .is-selected {
  position: relative;
  z-index: 99;
}

.special-select .is-selected:after {
  position: absolute;
  content: '';
  z-index: 999;
  right: 12px;
  top: calc(50% - 5px);
  width: 14px;
  height: 10px;
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media(min-width: 2000px) {
  .parallax-main {
    width: 100%;
    height: 1100px;
  }
}

@media(max-width: 1980px) {
  .parallax-main {
    width: 1400px;
    height: 900px;
  }
}

@media(max-width: 1600px) {
  .parallax-main {
    width: 100%;
    height: 748px;
  }
}

@media(max-width: 991px) {
  .parallax-main {
    width: 100%;
    height: 620px;
  }
}
