/* ./src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@layer components {
  .admin-btn {
    @apply bg-gray-900 rounded-md py-2 px-3 flex items-center justify-center cursor-pointer mr-6 w-fit-content hover: bg-white hover:text-black transition-all hidden;
  }

  .nav-link {
    @apply py-3.5 mr-4 border-b-2 flex items-center text-gray-300 text-sm border-transparent hover: text-white whitespace-nowrap font-medium cursor-pointer;

    &.active {
      @apply border-green px-0 text-white;

      .active-span {
        @apply bg-gray-900 rounded-md;
      }
    }

    .active-span {
      @apply pointer-events-none py-2 px-3;
    }
  }

  .page {
    @apply pt-16 min-h-screen h-full;
  }

  .btn {
    @apply py-2 px-3 text-sm cursor-pointer flex items-center justify-center shadow-sm rounded-md bg-gradient-to-r from-light-blue to-dark-blue hover: from-navy transition-all hover:to-navy focus:from-light-blue focus:to-dark-blue disabled:from-primrose disabled:to-primrose disabled:text-light-violet focus:ring-2 focus:ring-violet focus:outline-none focus:ring-offset-2 focus:ring-offset-black w-max h-9;

    &.btn-done {
      @apply from-medium-blue to-medium-blue disabled: text-opacity-0;

      &:after {
        @apply absolute block;
      }
    }

    &-checked {
      @apply text-center flex items-center justify-center h-9 w-full text-gray-500 text-sm cursor-pointer;
    }

    &.btn-load {
      @apply h-9 text-white relative disabled: text-opacity-0;

      &:after {
        @apply absolute h-6 w-6 block animate-spin;
      }
    }
  }

  .table-title {
    @apply pt-1 px-5 tracking-wider text-primary-gray text-left text-xs font-medium hover: text-white transition-all cursor-default;

    &-empty {
      @apply px-1.5;
    }
  }

  .table-cell {
    @apply px-5 py-2 text-sm font-normal text-white flex items-center justify-start truncate h-14 bg-blueish-black;

    &-empty {
      @apply px-1.5 bg-transparent;
    }
  }

  .table-title {
    &:nth-child(1) {
      @apply w-5 h-5 pr-0;
    }
  }

  .table-cell {
    &:nth-child(2) {
      @apply pl-2 uppercase;
    }

    &:nth-child(1) {
      @apply w-5 h-5 pr-0;
    }
  }

  .attention-cell {
    @apply border-l-4 pl-4 border-red bg-error;
  }

  .table-row {
    @apply mb-3 rounded-lg;
  }

  .table-btn {
    @apply py-2 px-3 shadow-sm rounded-md border border-light-violet flex items-center max-w-max cursor-pointer;
  }

  .modal {
    @apply flex items-center justify-center w-full h-screen opacity-0 top-0 left-0 fixed z-70;

    &-loading {
      .top-divider {
        @apply pointer-events-none;
      }
    }
  }

  .modal-exit__bg {
    @apply w-full h-full bg-black bg-opacity-70 absolute;
  }

  .pop-up {
    @apply max-w-460 w-full flex flex-col rounded-xl border border-light-grey bg-blueish-black relative shadow;
  }

  .input-type {
    @apply border-medium-grey border text-sm rounded-lg w-full h-10 bg-blueish-black focus: outline-none py-3 px-4;
  }

  input:checked + label {
    @apply rounded-md bg-green bg-opacity-10 text-green;
  }

  .icon-cell {
    @apply flex items-center justify-center w-4 h-4 mr-2;
  }

  .crypto-icon {
    @apply flex items-center justify-center w-5 h-5 mr-2;
  }

  .crypto-icon-no-spaces {
    @apply flex items-center justify-center w-5 h-5;
  }

  .crypto-icon-no-spaces img {
    @apply w-full h-full;
  }

  .main-row {
    @apply flex items-center justify-between w-full mb-5;
  }

  .address-info {
    @apply leading-6 font-medium text-base text-right;
  }

  .wrapper {
    @apply flex items-center justify-between mx-2 mb-9;
  }

  .static-data {
    @apply text-white mr-4 text-center tracking-wider font-normal text-sm text-opacity-50;
  }

  .static {
    @apply text-white text-center tracking-wider font-normal text-sm;
  }

  .static-name {
    @apply text-left tracking-wider font-normal text-sm;
  }

  .up-info {
    @apply flex items-center justify-center;
  }

  .modal-top {
    @apply flex items-center justify-between p-5 w-full h-auto;
  }

  .modal-close {
    @apply w-6 h-6 flex items-center justify-center cursor-pointer focus: outline-none;
  }

  .name-field {
    @apply text-sm text-grey-100 font-medium mb-1;
  }

  .field-info {
    @apply py-3 px-4 text-sm w-full border-l border-light-grey h-10 justify-center whitespace-nowrap;

    &__container {
      @apply flex items-center justify-center w-full h-full;
    }

    span {
      @apply truncate;
    }
  }

  .top-divider {
    @apply flex flex-col p-5 border-light-grey border-t;
  }

  .page {
    @apply w-full;
  }

  .notif-block {
    @apply h-auto px-5 pt-5 pb-4 bg-blueish-black flex flex-col rounded-xl border border-light-grey shadow absolute right-5 top-9 flex w-80;
  }

  .notif-amount {
    @apply text-8 absolute -right-1 top-0.5 w-3 h-3 flex items-center justify-center bg-green-medium rounded-full;
  }

  .notif {
    @apply bg-gray-800 rounded-full relative w-8 h-8 flex items-center justify-center cursor-pointer;
  }

  .social-icon svg {
    @apply pointer-events-none;
  }

  .social-icon {
    @apply mr-4 w-6 h-6 rounded-full bg-violet transition-all hover: bg-white flex items-center justify-center;
  }

  .notif-row {
    @apply mb-6 flex items-center justify-between py-4 px-5 border-l-4 rounded-md bottom-0 hidden fixed w-notif z-80;

    a {
      @apply underline;
    }

    .close-icon svg {
      @apply w-3 h-3;
    }

    &.info_pane_error {
      @apply border-red bg-error flex;

      .text-color {
        @apply text-red;
      }

      .close-icon svg {
        @apply fill-red w-3 h-3;
      }

      .icon-success,
      .icon-warning {
        @apply hidden;
      }

      .icon-error {
        @apply flex;
      }
    }

    &.info_pane_success {
      @apply bg-green-success border-green-3 flex;

      .text-color {
        @apply text-green-3;
      }

      .icon-success {
        @apply block;
      }

      .close-icon svg {
        @apply fill-green;
      }

      .icon-warning,
      .icon-error {
        @apply hidden;
      }
    }

    &.info_pane_info {
      @apply border-yellow-400 bg-warning flex;

      .text-color {
        @apply text-yellow;
      }

      .icon-success,
      .icon-error {
        @apply hidden;
      }

      .icon-warning {
        @apply flex;
      }

      .close-icon svg {
        @apply fill-yellow;
      }
    }
  }

  .web3 {
    &-connected {
      @apply fill-swamp focus: outline-none;
    }

    &-disconnected {
      @apply fill-red focus: outline-none;
    }
  }

  .close-icon {
    @apply w-5 h-5 flex items-center justify-center cursor-pointer;
  }

  .info-block__popup {
    @apply absolute bottom-8 left-5/6 text-gray-700 text-sm py-3 px-4 bg-white rounded-md shadow w-44 h-auto transition-all;
  }

  .stake-input {
    @apply border-medium-grey border text-sm rounded-lg w-full h-11 bg-blueish-black focus: outline-none py-3 px-4;
  }

  .number_increase {
    @apply pl-4 relative text-electric-green tracking-wider text-sm;

    &:before {
      @apply absolute;
    }
  }

  .number_degrease {
    @apply pl-4 relative text-red tracking-wider text-sm;

    &:before {
      @apply absolute;
    }
  }
  .nft-btn {
    @apply w-full mt-2 max-w-full text-center items-center justify-center hover:bg-medium-grey;
  }
}

.empty-access,
.empty-metamask {
  top: 66px;
  height: calc(100% - 60px);
}

.number_increase {
  &:before {
    content: '';
    top: calc(50% - 3px);
    left: 4px;
    width: 8px;
    height: 6px;
    background-image: url('../images/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.number_degrease {
  &:before {
    content: '';
    top: calc(50% - 3px);
    left: 4px;
    width: 8px;
    height: 6px;
    background-image: url('../images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.btn {
  &-load {
    &:after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M8.67504 1.40795C6.84527 1.98325 5.1958 3.02288 3.88745 4.42547C2.57911 5.82806 1.65654 7.54574 1.2097 9.41105C0.762863 11.2764 0.807007 13.2256 1.33783 15.0688C1.86865 16.912 2.86803 18.5861 4.23853 19.928C5.60903 21.27 7.30387 22.2339 9.15781 22.7257C11.0118 23.2176 12.9615 23.2207 14.817 22.7346C16.6725 22.2486 18.3703 21.2901 19.7451 19.9525C21.1198 18.6148 22.1244 16.9438 22.661 15.1024C22.7208 14.9119 22.742 14.7114 22.7233 14.5126C22.7046 14.3138 22.6464 14.1208 22.5521 13.9448C22.4579 13.7688 22.3294 13.6134 22.1743 13.4877C22.0192 13.362 21.8405 13.2685 21.6488 13.2128C21.4571 13.157 21.2562 13.1401 21.0578 13.163C20.8595 13.1859 20.6677 13.2482 20.4938 13.3461C20.3198 13.4441 20.1672 13.5758 20.0448 13.7336C19.9224 13.8913 19.8327 14.0719 19.781 14.2648C19.3891 15.6083 18.6558 16.8273 17.6526 17.8031C16.6493 18.7788 15.4103 19.478 14.0565 19.8324C12.7026 20.1868 11.28 20.1844 9.9273 19.8254C8.57463 19.4664 7.33804 18.7631 6.3381 17.7839C5.33815 16.8048 4.60895 15.5833 4.22159 14.2384C3.83422 12.8936 3.80191 11.4714 4.12779 10.1103C4.45367 8.74929 5.12663 7.49592 6.08107 6.47237C7.03552 5.44882 8.23887 4.69003 9.57384 4.26995C9.76177 4.21086 9.93621 4.11533 10.0872 3.98882C10.2382 3.86231 10.3628 3.70729 10.4539 3.53263C10.545 3.35796 10.6008 3.16706 10.6181 2.97083C10.6354 2.7746 10.6139 2.57688 10.5548 2.38895C10.4957 2.20103 10.4002 2.02659 10.2737 1.87559C10.1472 1.72459 9.99218 1.59998 9.81752 1.50889C9.64285 1.41779 9.45195 1.36199 9.25572 1.34468C9.05949 1.32736 8.86177 1.34886 8.67384 1.40795H8.67504Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &-done {
    &:after {
      content: "";
      width: 22px;
      height: 16px;
      background-image: url("/images/check-btn.svg");
      background-repeat: no-repeat;
    }
  }
}

.info-block__popup {
  display: none;
  word-break: break-word;
}

.hover-element {
  position: relative;

  &:hover .info-block__popup {
    display: block;
  }
}

.copyright-credit {
  display: none;
}

.hide {
  display: none;
}

#borrow-tab:not(.hide) ~ footer {
  .copyright-common {
    display: none;
  }

  .copyright-credit {
    display: block;
  }
}

.empty-borrow {
  display: none;
}

.empty-liquidity {
  display: none;
}

.empty .empty-borrow {
  display: flex;
}

.empty .empty-liquidity {
  display: flex;
}

.empty .filled {
  display: none;
}

.empty .address-info {
  display: none;
}

.js-Dropdown {
  display: inline-block;
  position: relative;
  width: 262px;
}

.js-Dropdown-title {
  background: transparent;
  background: #191932;
  border: 1px solid #5a5a89;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  min-height: 40px;
  padding: 8px 12px;
  position: relative;
  text-align: left;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  display: flex;
  align-items: center;

  .li-link {
    display: none;
  }

  .dropdown-link {
    margin-right: 10px;
  }
}

.li-link {
  width: 10px;
  height: 10px;
}

.btn-link {
  width: 16px;
  height: 16px;
}

.js-Dropdown-list {
  .btn-link {
    display: none;
  }

  .dropdown-text {
    font-weight: 400;
    order: 1;
  }

  .dropdown-link {
    order: 2;
  }

  li[data-value=""] {
    display: none;
  }
}

.js-Dropdown-title {
  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/icon-down.svg');
    height: 6px;
    width: 10px;
    position: absolute;
    right: 16px;
    top: calc(50% - 3px);
  }
}

.js-Dropdown-title.is-active:after {
  transform: rotate(180deg);
}

.js-Dropdown-list {
  background: #191932;
  border: 1px solid #5a5a89;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  box-sizing: border-box;
  display: none;
  height: 0;
  padding: 4px 0px;
  list-style: none;
  margin-top: 4px;
  position: absolute;
  transition: 0.2s linear;
  width: 100%;
  z-index: 999;

  &.is-open {
    display: block;
    height: auto;
    opacity: 1;
  }
}

.js-Dropdown-list li {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: #191932;
  color: #fff;
  transition: background 0.35s;

  &:hover {
    background-color: #5a5a89;
  }

  &:first-child {
    border-left-top-radius: 6px;
    border-right-top-radius: 6px;
  }

  &:last-child {
    border-left-bottom-radius: 6px;
    border-right-bottom-radius: 6px;
  }
}

.js-Dropdown-list li .flex {
  justify-content: space-between;
}

.modal {
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.without-link .dropdown-link {
  display: none !important;
}

.without-link {
  .js-Dropdown {
    width: 100%;
    height: 40px;

    &-title {
      border: 0px;
      height: 40px;
    }
  }
}

.special-select {
  .js-Dropdown-list {
    width: 50%;
    right: 0px;
  }

  .is-selected {
    position: relative;
    z-index: 99;

    &:after {
      position: absolute;
      content: '';
      z-index: 999;
      right: 12px;
      top: calc(50% - 5px);
      width: 14px;
      height: 10px;
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#assets-dropdown .choices__inner {
  max-height: 128px;
  height: 100%;
  overflow: auto;
  align-items: flex-start;
}

#assets-dropdown .choices.is-open .choices__inner:after {
  display: none;
}

#assets-dropdown .choices__list--dropdown .choices__list {
  max-height: 200px;
  overflow: auto;
}

// .socials-row {
//   width: calc(100% - 48px);
// }

.parallax-main {
  margin-top: -80px;
  width: 100%;
  height: calc(100vh - 125px);
}

@media (max-width: 991px) {
  .parallax-main {
    height: 620px;
    margin-top: 0px;
  }
}

.table-row td {
  &:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  &:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}

table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px 12px;
}

input {
  &::-webkit-inner-spin-button {
    display: none;
  }

  &[readonly] {
    color: #c5c5cc;
    cursor: not-allowed;
  }
}

// multiselect

.selectMultiple {
  width: 240px;
  position: relative;

  select {
    display: none;
  }

  & > div {
    position: relative;
    z-index: 2;
    padding: 8px 12px 2px 12px;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    min-height: 40px;
    box-shadow: 0 4px 16px 0 rgba(#162a5a, .12);
    transition: box-shadow .3s ease;

    &:hover {
      box-shadow: 0 4px 24px -1px rgba(#162a5a, .16);
    }

    .arrow {
      right: 1px;
      top: 0;
      bottom: 0;
      cursor: pointer;
      width: 28px;
      position: absolute;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 8px;
        border-bottom: 8px solid #99a3ba;
        top: 43%;
        transition: all .3s ease;
      }

      &:before {
        right: 12px;
        transform: rotate(-130deg);
      }

      &:after {
        left: 9px;
        transform: rotate(130deg);
      }
    }

    span {
      color: #99a3ba;
      display: block;
      position: absolute;
      left: 12px;
      cursor: pointer;
      top: 8px;
      line-height: 28px;
      transition: all .3s ease;

      &.hide {
        opacity: 0;
        visibility: hidden;
        transform: translate(-4px, 0);
      }
    }

    a {
      position: relative;
      padding: 0 24px 6px 8px;
      line-height: 28px;
      color: #1e2330;
      display: inline-block;
      vertical-align: top;
      margin: 0 6px 0 0;

      em {
        font-style: normal;
        display: block;
        white-space: nowrap;
      }

      &:before {
        content: '';
        left: 0;
        top: 0;
        bottom: 6px;
        width: 100%;
        position: absolute;
        display: block;
        background: rgba(#e4ecfa, .7);
        z-index: -1;
        border-radius: 4px;
      }

      i {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 28px;
        display: block;

        &:before,
        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 10px;
          position: absolute;
          left: 50%;
          top: 50%;
          background: #4d18ff;
          border-radius: 1px;
        }

        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &.notShown {
        opacity: 0;
        transition: opacity .3s ease;

        &:before {
          width: 28px;
          transition: width .45s cubic-bezier(.87, -.41, .19, 1.44) .2s;
        }

        i {
          opacity: 0;
          transition: all .3s ease .3s;
        }

        em {
          opacity: 0;
          transform: translate(-6px, 0);
          transition: all .4s ease .3s;
        }

        &.shown {
          opacity: 1;

          &:before {
            width: 100%;
          }

          i {
            opacity: 1;
          }

          em {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }

      &.remove {
        pointer-events: none;

        &:before {
          width: 28px;
          transition: width .4s cubic-bezier(.87, -.41, .19, 1.44) 0s;
        }

        i {
          opacity: 0;
          transition: all .3s ease 0s;
        }

        em {
          opacity: 0;
          transform: translate(-12px, 0);
          transition: all .4s ease 0s;
        }

        &.disappear {
          opacity: 0;
          transition: opacity .5s ease 0s;
        }
      }
    }
  }

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(.8);
    transform-origin: 0 0;
    // filter: drop-shadow(0 12px 20px rgba(#162A5A, .08));
    box-shadow: 0 12px 20px rgba(#162a5a, .08);
    transition: all .4s ease, transform .4s cubic-bezier(.87, -.41, .19, 1.44),
      filter .3s ease .2s;

    li {
      // border: 1px solid black;
      color: #1e2330;
      background: #fff;
      padding: 12px 16px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: background .3s ease, color .3s ease, transform .3s ease .3s,
        opacity .5s ease .3s, border-radius .3s ease;

      &:first-child {
        border-radius: 8px 8px 0 0;

        &:last-child {
          border-radius: 8px;
        }
      }

      &:last-child {
        border-radius: 0 0 8px 8px;

        &:first-child {
          border-radius: 8px;
        }
      }

      &:hover {
        background: #4d18ff;
        color: #fff;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 6px;
        background: rgba(#000, .4);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%, -50%);
        transform-origin: 50% 50%;
      }

      &.beforeRemove {
        border-radius: 0 0 8px 8px;

        &:first-child {
          border-radius: 8px;
        }
      }

      &.afterRemove {
        border-radius: 8px 8px 0 0;

        &:last-child {
          border-radius: 8px;
        }
      }

      &.remove {
        transform: scale(0);
        opacity: 0;

        &:after {
          animation: ripple .4s ease-out;
        }
      }

      &.show {
        transform: scale(0);
        opacity: 0;
        animation: scale-up .35s ease forwards;
      }
    }
  }

  &.open {
    & > div {
      box-shadow: 0 4px 20px -1px rgba(#162a5a, .12);

      .arrow {
        &:before {
          transform: rotate(-50deg);
        }

        &:after {
          transform: rotate(50deg);
        }
      }
    }

    & > ul {
      transform: translate(0, 12px) scale(1);
      opacity: 1;
      visibility: visible;
      filter: drop-shadow(0 16px 24px rgba(#162a5a, .16));
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  25% {
    transform: scale(30, 30);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

button:disabled {
  cursor: not-allowed;
}

// start Loading Bar

.ldBar-label {
  font-family: 'Inter';
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  color: rgb(152, 239, 15);
}

.ldBar {
  position: relative;
}

.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ldBar-label:after {
  content: "%";
  display: inline;
}

.ldBar.no-percent .ldBar-label:after {
  content: "";
}

.ldBar path.mainline {
  stroke-linecap: round;
  stroke-width: 3;
}

.ldBar path.baseline {
  stroke-linecap: round;
  stroke-width: 1;
  stroke: rgb(17, 24, 39);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media screen and (orientation: landscape) {
  .orientation-cover {
    display: none;
  }
}

// end Loading Bar

// start multiSelect

.choices__inner {
  padding: 0.5rem 0.75rem 0.25rem;
  width: 100%;
  background-color: #191932;
  border-color: rgb(53, 53, 78);
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 0.875rem;
  min-height: 42px;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
}

.choices__input {
  background-color: transparent;
  border: 0px;
  margin-bottom: 0;
}

.choices:not(.is-open) .choices__list.choices__list--multiple:empty {
  min-height: 26px;

  &:before {
    background-image: url(../images/icon-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 6px;
    top: calc(50% - 2px);
    right: 16px;
    position: absolute;
    content: '';
  }

  &:after {
    content: 'Choose NFT';
    position: absolute;
    top: 0;
    left: 12px;
    pointer-events: none;
    font-size: 14px;
    line-height: 40px;
  }

  + input {
    display: none;
  }
}

.choices .choices__list.choices__list--multiple:empty {
  + input {
    padding: 0;
    line-height: 24px;
  }
}

.choices__list--dropdown {
  display: none;
  margin-top: 4px;
  width: 100%;
  background-color: #191932;
  border-color: rgb(53, 53, 78);
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 4px 0px;

  &.is-active {
    display: block;
  }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgb(53, 53, 78);
}

.choices__list--multiple {
  display: flex;
  flex-wrap: wrap;

  .choices__item {
    display: flex;
    align-items: center;
  }
}

.choices__item {
  &-img {
    width: 26px;
    height: 26px;
    margin-right: 2px;

    img {
      object-fit: contain;
    }
  }

  &--choice {
    min-height: 48px;
    padding: 0.25rem 1.25rem;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}

.choices:not(.is-open)[data-type*=select-multiple] .choices__inner {
  cursor: pointer;
  .choices__input {
    display: none;
  }
}

.choices__list--multiple .choices__item.is-highlighted {
  border-color: rgb(53, 53, 78);
  background-color: rgb(53, 53, 78);
}

.is-open {
  .choices__inner {
    border-radius: 0.5rem;
    border-color: rgb(53, 53, 78);
    border-width: 1px;
  }

  .choices__list--dropdown {
    border-color: rgb(53, 53, 78);
    border-width: 1px;
    margin-top: 4px;
  }
}

.choices__list--multiple .choices__item {
  border-color: rgb(53, 53, 78);
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: #191932;
  padding: 0.25rem;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  border-left: 0px;
  margin: 0 0px 0 8px;
  padding-left: 12px;
}

.choices-collateral {
  width: 100%;
  border: 0px;

  &[data-type*=select-one]:after {
    border: 0px;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/icon-down.svg);
    height: 6px;
    width: 10px;
    position: absolute;
    right: 16px;
    top: calc(50% - 3px);
    margin-top: 0px;
  }

  &[data-type*=select-one].is-open:after {
    margin-top: 0px;
    margin-bottom: 0px;
    transform: rotate(180deg);
    border: none;
  }

  .choices__list--single {
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100%;

    .choices__item {
      display: flex;
      align-items: center;
    }
  }

  .choices__item--choice {
    min-height: 36px;
  }

  .choices__inner {
    min-height: 40px;
    border-width: 0px;
  }
}

// end multiSelect

#net_icon {
  fill: currentColor;
}

.notif-block {
  max-height: calc(100vh - 100px);
  overflow: auto;

  &__item {
    .modal-close {
      display: none;
    }

    &:first-child {
      .modal-close {
        display: flex;
      }
    }

    &:last-child {
      .notif-item {
        border: none;
        margin-bottom: 4px;
        padding-bottom: 0px;
      }
    }
  }
}

.static-row__data {
  .static-row {
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.svg-text {
  font-family: 'Inter';
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0.44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .svg-name {
    font-size: 18px;
  }

  .svg-numb {
    font-size: 24px;
    letter-spacing: 0.15px;
    font-weight: bold;
  }

  .svg-market {
    color: #8c8c98;
    font-size: 12px;
  }

  &__small {
    .svg-name {
      font-size: 16px;
    }

    .svg-numb {
      font-size: 18px;
    }

    .svg-market {
      color: #8684c1;
    }
  }
}

.copyright-icon {
  width: 18px;
  height: 18px;
}

.copyright-width {
  width: calc(100% - 18px);
}

.page {
  padding-bottom: 110px;

  &#total-dashboard-tab {
    padding-bottom: 80px;
  }
}

.web3 {
  &-connected {
    .not-connect {
      display: none;
    }

    .connect {
      display: block;
    }
  }

  &-disconnected {
    .not-connect {
      display: block;
    }

    .connect {
      display: none;
    }
  }
}

.select-additional__options {
  margin-top: -2px;
  margin-bottom: -2px;
}

.empty-metamask {
  &__img {
    max-width: 440px;
    width: 100%;
    max-height: 316px;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  a {
    color: #898989;
  }
}

#credprofiles-dropdown,
#custom-depprofiles-dropdown,
.choices-collateral {
  text-transform: uppercase;

  .js-Dropdown-title,
  .choices__item {
    text-transform: uppercase;
  }
}

#custom-getcredit-dropdown {
  li,
  .dropdown-text {
    text-transform: uppercase;

    &[data-value=""] {
      text-transform: none;
    }
  }
}

.simplebar-scrollbar::before {
  background-color: #838996;
}

.simplebar-track {
  cursor: default;
  pointer-events: all;
  z-index: 0 !important;
}
