/* ./src/styles.css */
@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('/fonts/Inter-Bold.ttf');
}

@layer components {
  .admin-btn {
    @apply bg-gray-900 rounded-md py-2 px-3 flex items-center justify-center cursor-pointer mr-6 w-fit-content hover: bg-white hover:text-black transition-all hidden;

    &__wrapper {
      @apply flex ml-auto items-center h-full lg: pb-0 pb-2;
    }
  }

  #net_info {
    @apply flex items-center mr-7;
  }

  .user {
    @apply flex items-center rounded-full w-5 h-5;
  }

  .in-wallet {
    @apply items-center ml-1;
  }

  .divider-border {
    @apply flex border-medium-grey border rounded-lg w-full;
  }

  .specify {
    @apply w-full flex items-center justify-center mb-4;

    &-wrap {
      @apply flex whitespace-nowrap items-center w-fit-content justify-center py-1 px-2 text-xs text-center text-gray-500 border border-medium-grey rounded-2xl;
    }
  }

  .nav-link {
    @apply py-3.5 mr-4 border-b-2 flex items-center text-gray-300 text-sm border-transparent hover: text-white whitespace-nowrap font-medium cursor-pointer;

    &.active {
      @apply border-green px-0 text-white;

      .active-span {
        @apply bg-gray-900 rounded-md;
      }
    }

    .active-span {
      @apply pointer-events-none py-2 px-3;
    }
  }

  .page {
    @apply pt-16 min-h-screen h-full w-full;
  }

  .btn {
    @apply py-2 px-3 text-sm cursor-pointer flex items-center justify-center shadow-sm rounded-md transition-all disabled: text-light-violet focus:ring-2 focus:ring-violet focus:outline-none focus:ring-offset-2 focus:ring-offset-black w-max h-9;

    &.btn-done {
      @apply from-medium-blue to-medium-blue disabled: text-opacity-0;

      &:after {
        @apply absolute block;
      }
    }

    &-checked {
      @apply text-center flex items-center justify-center h-9 w-full text-gray-500 text-sm cursor-pointer;
    }

    &.btn-load {
      @apply h-9 text-white relative disabled: text-opacity-0;

      &:after {
        @apply absolute h-6 w-6 block animate-spin;
      }
    }
  }

  .table-title {
    @apply pt-1 px-5 tracking-wider text-primary-gray text-left text-xs font-medium hover: text-white transition-all cursor-default;

    &-empty {
      @apply px-1.5;
    }
  }

  .table-cell {
    @apply px-5 py-2 text-sm font-normal text-white flex items-center justify-start truncate h-14 bg-blueish-black;

    &-empty {
      @apply px-1.5 bg-transparent;
    }
  }

  .table-title {
    &:nth-child(1) {
      @apply w-5 h-5 pr-0;
    }
  }

  .table-cell {
    &:nth-child(2) {
      @apply pl-2 uppercase;
    }

    &:nth-child(1) {
      @apply w-5 h-5 pr-0;
    }
  }

  .attention-cell {
    @apply border pl-6 border-yellow-400 relative;
  }

  .table-row {
    @apply mb-3 rounded-lg;
  }

  .table-btn {
    @apply py-2 px-3 shadow-sm rounded-md border border-light-violet flex items-center max-w-max cursor-pointer;
  }

  .modal {
    @apply flex items-center justify-center w-full h-screen opacity-0 top-0 left-0 fixed z-70;

    &-loading {
      .top-divider {
        @apply pointer-events-none;
      }
    }
  }

  .modal-exit__bg {
    @apply w-full h-full bg-black bg-opacity-70 absolute;
  }

  .pop-up {
    @apply max-w-460 w-full flex flex-col rounded-xl border border-light-grey bg-blueish-black relative shadow;
  }

  .input-type {
    @apply border-medium-grey border text-sm rounded-lg w-full h-10 bg-blueish-black focus: outline-none py-3 px-4;
  }

  input:checked + label {
    @apply rounded-md bg-green bg-opacity-10 text-green;
  }

  .icon-cell {
    @apply flex items-center justify-center w-4 h-4 mr-2;
  }

  .crypto-icon {
    @apply flex items-center justify-center w-5 h-5 mr-2;
  }

  .crypto-icon-no-spaces {
    @apply flex items-center justify-center w-5 h-5;
  }

  .crypto-icon-no-spaces img {
    @apply w-full h-full;
  }

  #total-dashboard-tab .main {
    @apply xl: flex-row flex flex-col;
  }

  .main {
    @apply mx-6 mt-11 text-white;

    &-row {
      @apply flex items-center justify-between w-full mb-5;

      &__title {
        @apply text-lg leading-6 font-medium mr-auto;
      }
    }

    &-title {
      @apply text-3xl leading-9 font-bold mr-4;
    }
  }

  .table-align {
    @apply align-middle inline-block min-w-full;
  }

  .address-info {
    @apply leading-6 font-medium text-base text-right;
  }

  .wrapper {
    @apply flex items-center justify-between mx-2 mb-9;
  }

  .static-data {
    @apply text-white mr-4 text-center tracking-wider font-normal text-sm text-opacity-50;
  }

  .static {
    @apply text-white text-center tracking-wider font-normal text-sm;
  }

  .static-name {
    @apply text-left tracking-wider font-normal text-sm;
  }

  .up-info {
    @apply flex items-center justify-center;
  }

  .modal-top {
    @apply flex items-center justify-between p-5 w-full h-auto;
  }

  .modal-close {
    @apply w-6 h-6 flex items-center justify-center cursor-pointer focus: outline-none;
  }

  .name-field {
    @apply text-sm text-grey-100 font-medium mb-1;
  }

  .field-info {
    @apply py-3 px-4 text-sm w-full border-l border-light-grey h-10 justify-center whitespace-nowrap;

    &__container {
      @apply flex items-center justify-center w-full h-full;
    }

    span {
      @apply truncate;
    }
  }

  .top-divider {
    @apply flex flex-col p-5 border-light-grey border-t;
  }

  .notif-block {
    @apply h-auto px-5 pt-5 pb-4 bg-blueish-black flex flex-col rounded-xl border border-light-grey shadow absolute right-5 top-9 flex w-80;
  }

  .notif-amount {
    @apply text-8 absolute -right-1 top-0.5 w-3 h-3 flex items-center justify-center bg-green-medium rounded-full;
  }

  .notif {
    @apply bg-gray-800 rounded-full relative w-8 h-8 flex items-center justify-center cursor-pointer;
  }

  .social-icon svg {
    @apply pointer-events-none;
  }

  .social-icon {
    @apply mr-4 w-6 h-6 rounded-full bg-violet transition-all hover: bg-white flex items-center justify-center;
  }

  .notif-row {
    @apply mb-6 flex items-center justify-between py-4 px-5 border-l-4 rounded-md bottom-0 hidden fixed w-notif z-80;

    a {
      @apply underline;
    }

    .close-icon svg {
      @apply w-3 h-3;
    }

    &.info_pane_error {
      @apply border-red bg-pane-error flex;

      .text-color {
        @apply text-red;
      }

      .close-icon svg {
        @apply fill-red w-3 h-3;
      }

      .icon-success,
      .icon-warning {
        @apply hidden;
      }

      .icon-error {
        @apply flex;
      }
    }

    &.info_pane_success {
      @apply bg-pane-success border-green-3 flex;

      .text-color {
        @apply text-green-3;
      }

      .icon-success {
        @apply block;
      }

      .close-icon svg {
        @apply fill-green;
      }

      .icon-warning,
      .icon-error {
        @apply hidden;
      }
    }

    &.info_pane_info {
      @apply border-yellow-400 bg-pane-info flex;

      .text-color {
        @apply text-yellow;
      }

      .icon-success,
      .icon-error {
        @apply hidden;
      }

      .icon-warning {
        @apply flex;
      }

      .close-icon svg {
        @apply fill-yellow;
      }
    }
  }

  .web3 {
    &-connected {
      @apply fill-swamp focus: outline-none;
    }

    &-disconnected {
      @apply fill-red focus: outline-none;
    }
  }

  .close-icon {
    @apply w-5 h-5 flex items-center justify-center cursor-pointer;
  }

  .info-block__popup {
    @apply absolute bottom-8 left-5/6 text-gray-700 text-sm py-3 px-4 bg-white rounded-md shadow w-44 h-auto transition-all;
  }

  .stake-input {
    @apply border-medium-grey border text-sm rounded-lg w-full h-11 bg-blueish-black focus: outline-none py-3 px-4;
  }

  .number_increase {
    @apply pl-4 relative text-electric-green tracking-wider text-sm;

    &:before {
      @apply absolute;
    }
  }

  .number_degrease {
    @apply pl-4 relative text-red tracking-wider text-sm;

    &:before {
      @apply absolute;
    }
  }

  .nft-btn {
    @apply w-full mt-2 max-w-full text-center items-center justify-center hover: bg-medium-grey;
  }

  .row-name {
    @apply text-sm tracking-wider;
  }

  .crypto-amount {
    @apply flex items-center;
  }

  .crypto-row {
    @apply flex w-full items-center mb-4;
  }

  .copyright {
    @apply mt-auto w-full bg-blueish-black py-4 md: px-9 px-4;

    &-text {
      @apply tracking-wide text-faux-purple text-xs font-bold uppercase;
    }

    &-icon {
      @apply w-4 mr-1 mt-0 flex items-center;
    }

    &-start {
      @apply flex xl: items-center items-start;
    }

    &-year {
      @apply flex items-center md: text-right uppercase tracking-wide text-faux-purple text-xs font-bold md:justify-end;
    }
  }

  .socials-row {
    @apply flex md: flex-row flex-col items-center px-6 pb-4 bg-black pt-2 mx-auto;
  }

  .load-bar {
    &-cover {
      @apply fixed top-0 left-0 w-full h-full z-40 bg-black;
    }

    &__center {
      @apply h-full flex items-center justify-center;
    }
  }

  .body {
    @apply font-body bg-black text-white h-full min-h-screen relative w-screen flex flex-col relative;
  }

  .step {
    @apply w-6 h-6 rounded-full mx-1 flex items-center justify-center;

    span {
      @apply w-3 h-3 bg-violet-100 rounded-full;
    }

    &.active {
      @apply bg-violet-100 bg-opacity-25;
    }
  }

  .without-link {
    @apply flex border-medium-grey border rounded-lg;
  }

  .steps {
    @apply flex flex-col text-sm leading-4 font-medium text-grey-100;

    &-row {
      @apply flex items-center justify-center mb-5;
    }

    &-dots {
      @apply flex items-center;
    }

    &-styles {
      @apply text-sm leading-4 font-medium text-grey-100 mr-7;
    }
  }

  .header {
    @apply w-full z-70 h-66 fixed bg-black;

    &-row {
      @apply lg: mx-8 mx-6 border-b border-gray-700 flex items-center justify-between bg-black;
    }
  }

  .page-loading nav {
    @apply pointer-events-none;
  }

  .hover-element {
    @apply relative;

    &:hover .info-block__popup {
      @apply block;
    }
  }

  .dashboard-col {
    @apply xl: w-290 w-full;

    &__rest {
      @apply xl: w-rest w-full;
    }
  }

  .empty-access,
  .empty-metamask {
    @apply z-60 fixed w-full flex flex-col bg-black;

    &__col {
      @apply h-full flex flex-col justify-center;
    }

    &__center {
      @apply flex flex-col h-full items-center justify-center text-center;
    }

    &__text {
      @apply max-w-sm text-lg text-faux mx-auto;
    }

    &__img {
      @apply mb-10 mx-auto relative;

      &-animate {
        @apply absolute h-full w-full top-0 left-0 animate-bounce-3;
      }
    }
  }

  .empty-borrow {
    @apply h-empty w-full items-center justify-center text-center;
  }

  .empty-liquidity {
    @apply h-empty w-full items-center justify-center text-center;
  }

  #empty-error__msg,
  .empty-error__msg {
    @apply text-2xl leading-none font-medium text-ford-light mb-5;
  }

  #market-top-five-list {
    @apply flex flex-col bg-blueish-black xl: w-full w-1/2 rounded-lg pt-7 pb-2 px-6 mb-2;
  }

  .current-state {
    @apply flex items-center text-sm;
  }

  .compared {
    @apply text-xs text-opacity-50 text-white tracking-wider mb-1 flex items-center;
  }

  #dashboard-market-cap {
    @apply text-2xl font-semibold mb-1;
  }

  .crypto-title {
    @apply text-base mb-1 leading-loose tracking-wider font-normal;
  }

  .crypto-col {
    @apply flex items-center flex-col justify-center text-center;
  }

  .circle {
    @apply flex items-center justify-center w-36 h-36 mx-auto mb-4;
  }

  .stat-col {
    @apply flex flex-col bg-blueish-black py-5 px-6 xl: w-full w-1/2 xl:mr-0 mr-6 rounded-lg mb-6;
  }

  .main-col {
    @apply flex xl: flex-col flex-row items-start;
  }

  .select-additional__options {
    @apply flex items-center;

    .choices__inner {
      @apply py-3 pr-10 pl-11 border-medium-grey border;
    }

    .choices[data-type*='select-one'] .choices__inner {
      @apply pb-3;
    }
  }
}

#our-crypto-list {
  max-height: calc(100vh - 600px);
  overflow: auto;

  .crypto-row:last-child {
    margin-bottom: 0px;
  }
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.empty-access,
.empty-metamask {
  top: 66px;
  height: calc(100% - 60px);
}

.attention-cell {
  &::before {
    position: absolute;
    content: '';
    left: 4px;
    background-image: url('../images/warning-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 14px;
    top: calc(50% - 7px);
  }
}

.number_increase:before,
.number_degrease:before {
  content: '';
  top: calc(50% - 3px);
  left: 4px;
  width: 8px;
  height: 6px;
  background-image: url('../images/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.number_degrease:before {
  background-image: url('../images/arrow-down.svg');
}

.our-info {
  .number_degrease:before,
  .number_increase:before {
    width: 12px;
    height: 8px;
    top: calc(50% - 4px);
    left: 0px;
  }

  .crypto-amount {
    .number_degrease:before,
    .number_increase:before {
      left: 4px;
    }
  }
}

.btn {
  background: linear-gradient(118.75deg, #3541f1 16.3%, #1f2386 123.67%);

  &:hover {
    background: linear-gradient(118.75deg, #1f2497 16.3%, #1f2497 123.67%);
  }

  &:focus {
    background: linear-gradient(118.75deg, #3541f1 16.3%, #1f2386 123.67%);
  }

  &:disabled {
    background: linear-gradient(118.75deg, #23287d 16.3%, #23287d 123.67%);
  }

  &-load {
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M8.67504 1.40795C6.84527 1.98325 5.1958 3.02288 3.88745 4.42547C2.57911 5.82806 1.65654 7.54574 1.2097 9.41105C0.762863 11.2764 0.807007 13.2256 1.33783 15.0688C1.86865 16.912 2.86803 18.5861 4.23853 19.928C5.60903 21.27 7.30387 22.2339 9.15781 22.7257C11.0118 23.2176 12.9615 23.2207 14.817 22.7346C16.6725 22.2486 18.3703 21.2901 19.7451 19.9525C21.1198 18.6148 22.1244 16.9438 22.661 15.1024C22.7208 14.9119 22.742 14.7114 22.7233 14.5126C22.7046 14.3138 22.6464 14.1208 22.5521 13.9448C22.4579 13.7688 22.3294 13.6134 22.1743 13.4877C22.0192 13.362 21.8405 13.2685 21.6488 13.2128C21.4571 13.157 21.2562 13.1401 21.0578 13.163C20.8595 13.1859 20.6677 13.2482 20.4938 13.3461C20.3198 13.4441 20.1672 13.5758 20.0448 13.7336C19.9224 13.8913 19.8327 14.0719 19.781 14.2648C19.3891 15.6083 18.6558 16.8273 17.6526 17.8031C16.6493 18.7788 15.4103 19.478 14.0565 19.8324C12.7026 20.1868 11.28 20.1844 9.9273 19.8254C8.57463 19.4664 7.33804 18.7631 6.3381 17.7839C5.33815 16.8048 4.60895 15.5833 4.22159 14.2384C3.83422 12.8936 3.80191 11.4714 4.12779 10.1103C4.45367 8.74929 5.12663 7.49592 6.08107 6.47237C7.03552 5.44882 8.23887 4.69003 9.57384 4.26995C9.76177 4.21086 9.93621 4.11533 10.0872 3.98882C10.2382 3.86231 10.3628 3.70729 10.4539 3.53263C10.545 3.35796 10.6008 3.16706 10.6181 2.97083C10.6354 2.7746 10.6139 2.57688 10.5548 2.38895C10.4957 2.20103 10.4002 2.02659 10.2737 1.87559C10.1472 1.72459 9.99218 1.59998 9.81752 1.50889C9.64285 1.41779 9.45195 1.36199 9.25572 1.34468C9.05949 1.32736 8.86177 1.34886 8.67384 1.40795H8.67504Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &-done {
    &:after {
      content: '';
      width: 22px;
      height: 16px;
      background-image: url('/images/check-btn.svg');
      background-repeat: no-repeat;
    }
  }
}

.info-block__popup {
  display: none;
  word-break: break-word;
}

.copyright-credit,
.hide,
.empty-borrow,
.empty-liquidity {
  display: none;
}

#borrow-tab:not(.hide) ~ footer {
  .copyright {
    &-common {
      display: none;
    }

    &-credit {
      display: block;
    }
  }
}

.empty {
  .empty-borrow,
  .empty-liquidity {
    display: flex;
  }

  .filled,
  .address-info {
    display: none;
  }
}

.js-Dropdown {
  display: inline-block;
  position: relative;
  width: 262px;

  &-title {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 40px;
    min-height: 40px;
    padding: 8px 12px;
    border: 1px solid #5a5a89;
    border-radius: 6px;
    background: transparent;
    background: #191932;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;

    .li-link {
      display: none;
    }

    .dropdown-link {
      margin-right: 10px;
    }
  }

  &-list li.is-selected {
    position: relative;
    z-index: 99;

    &:after {
      content: '';
      position: absolute;
      z-index: 999;
      top: calc(50% - 5px);
      right: 12px;
      width: 14px;
      height: 10px;
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.js-Dropdown-list li:hover {
  background-color: transparent !important;
}

.li-link {
  width: 10px;
  height: 10px;
}

.btn-link {
  width: 16px;
  height: 16px;
}

.modal {
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    transition-delay: 0s;
    opacity: 1;
  }
}

.parallax-main {
  width: 100%;
  height: calc(100vh - 130px);
  margin-top: -80px;

  @media (max-width: 1278px) {
    height: 620px;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    height: 500px;
    padding-bottom: 50px;
  }

  @media (max-width: 576px) {
    height: 380px;
  }
}

.table-row td {
  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

table {
  width: 100%;
  border-spacing: 0px 12px;
  border-collapse: separate;
}

input {
  &::-webkit-inner-spin-button {
    display: none;
  }

  &[readonly] {
    color: #c5c5cc;
    cursor: not-allowed;
  }
}

// multiselect

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  25% {
    transform: scale(30, 30);
    opacity: 1;
  }

  100% {
    transform: scale(50, 50);
    opacity: 0;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

button:disabled {
  cursor: not-allowed;
}

// start Loading Bar

.ldBar {
  position: relative;

  &-label {
    color: rgb(152, 239, 15);
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;

    &:after {
      content: '%';
      display: inline;
    }
  }

  &.label-center > .ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.ldBar.no-percent .ldBar-label:after {
  content: '';
}

.ldBar path.mainline {
  stroke-width: 3;
  stroke-linecap: round;
}

.ldBar path.baseline {
  stroke-width: 1;
  stroke-linecap: round;
  stroke: rgb(17, 24, 39);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

// end Loading Bar

#net_icon {
  fill: currentColor;
}

.notif-block {
  max-height: calc(100vh - 100px);
  overflow: auto;

  &__item {
    .modal-close {
      display: none;
    }

    &:first-child {
      .modal-close {
        display: flex;
      }
    }

    &:last-child {
      .notif-item {
        margin-bottom: 4px;
        padding-bottom: 0px;
        border: none;
      }
    }
  }
}

.static-row__data {
  .static-row {
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.svg-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-family: 'Inter';
  letter-spacing: 0.44px;
  line-height: 1.3;
  transform: translate3d(0px, 0px, 0.01px) scale(1.05);

  .svg-name {
    font-size: 18px;
  }

  .svg-numb {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.15px;
  }

  .svg-market {
    color: #8c8c98;
    font-size: 12px;
  }

  &__small {
    .svg-name {
      font-size: 16px;
    }

    .svg-numb {
      font-size: 18px;
    }

    .svg-market {
      color: #8684c1;
    }
  }
}

.copyright {
  &-icon {
    width: 18px;
    height: 18px;
  }

  &-width {
    width: calc(100% - 18px);
  }
}

.page {
  padding-bottom: 110px;

  &#total-dashboard-tab {
    padding-bottom: 100px;
  }
}

.web3 {
  &-connected {
    .not-connect {
      display: none;
    }

    .connect {
      display: block;
    }
  }

  &-disconnected {
    .not-connect {
      display: block;
    }

    .connect {
      display: none;
    }
  }
}

.empty-metamask {
  &__img {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 316px;
  }

  a {
    color: #898989;
  }
}

#modal-add-liquidity {
  .js-Dropdown {
    border: 0px;

    &-title {
      box-shadow: none;
    }
  }

  .without-link {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border: 0px;
  }
}

#custom-link-select {
  .js-Dropdown-list li.is-selected:after {
    display: none;
  }
}

.choices__list--single {
  padding: 0rem;
}

.select-additional__options {
  margin-top: -5px;
  margin-bottom: -5px;
  cursor: pointer;

  .choices[data-type*='select-one'] {
    .choices__inner {
      padding-bottom: 0.75rem;
    }

    &:before {
      content: '';
      display: block;
      background-image: url(../images/link.svg);
      position: absolute;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      left: 16px;
    }

    &:after {
      content: '';
      display: flex;
      position: absolute;
      top: calc(50% - 3px);
      right: 16px;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 6px;
      margin-top: 0;
      border: 0;
      background-image: url(../images/icon-down.svg);
    }

    &.is-open {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .choices__item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    cursor: pointer;

    img {
      width: 10px;
      height: 10px;
    }
  }

  .choices__list--dropdown {
    .choices__item {
      padding: 0.5rem 1rem;
    }
  }
}

.period-select {
  .choices__item,
  .choices__inner,
  .choices__list {
    text-transform: none;
  }
}
